<<<<<<< HEAD
body .container .type .type-4, body .container .type .type-3, body .container .type .type-2, body .container .type .type-1, body .container .colors {
  display: flex;
  justify-content: space-evenly;
}

body .container .logo, section.content .flex-1, section.content .vidtal-selected, section.content .efnidags-selected, section.content .bidlisti-selected .flex-1, section.content .bidlisti-selected .flex-2, section.content .bidlisti-selected, div.wrapper-nav div.wrapper-open-nav nav.side-nav-open div.nav-box-open div.user-close-nav, div.wrapper-nav div.wrapper-open-nav nav.side-nav-open div.nav-box-open, div.wrapper-nav div.wrapper-open-nav nav.side-nav-open, div.wrapper-nav nav.side-nav div.nav-box, div.wrapper-nav nav.side-nav, div.wrapper-nav, div.wrapper-mobile nav.mobile-nav {
  display: flex;
  justify-content: space-between;
}

div.addModal-container, div.addBtn div.addPlus, div.card-container div.course-icon, .side-list, .burger-menu div.wrapper-mobile div.burger-close, section.content .bidlisti-selected .close-btn, div.wrapper-nav nav.side-nav div.logout-box, div.wrapper-mobile nav.mobile-nav div.burger-close, div.wrapper-mobile nav.mobile-nav div.burger-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.signup-form-container div.progress-container, div.addBtn, div.stud-card div, div.tilkynning-card div, div.id-icon, div.header-container, .burger-nav-list .burger-list, section.content .flex-2 .flex-d, section.content .flex-2, section.content .flex-1 .flex-b, section.content .bidlisti-selected .flex-1 .flex-c, section.content .bidlisti-selected .flex-1 .flex-d, section.content .bidlisti-selected .flex-2 .flex-c, section.content .bidlisti-selected .flex-2 .flex-d, section.content .greeting, div.wrapper-nav div.wrapper-open-nav nav.side-nav-open div.logout-box div.logout, div.wrapper-nav div.wrapper-open-nav nav.side-nav-open div.nav-box-open .home,
div.wrapper-nav div.wrapper-open-nav nav.side-nav-open div.nav-box-open .list,
div.wrapper-nav div.wrapper-open-nav nav.side-nav-open div.nav-box-open .users,
div.wrapper-nav div.wrapper-open-nav nav.side-nav-open div.nav-box-open .folder,
div.wrapper-nav div.wrapper-open-nav nav.side-nav-open div.nav-box-open .bell,
div.wrapper-nav div.wrapper-open-nav nav.side-nav-open div.nav-box-open .settings,
div.wrapper-nav div.wrapper-open-nav nav.side-nav-open div.nav-box-open .logout-box, div.wrapper-nav div.search-bar, .img-and-text {
  display: flex;
  align-items: center;
}

div.addModal-container, div.addBtn div.addPlus, div.card-container div.course-icon, .side-list, .burger-menu div.wrapper-mobile div.burger-close, section.content .bidlisti-selected .close-btn, div.wrapper-nav nav.side-nav div.logout-box, div.wrapper-mobile nav.mobile-nav div.burger-close, div.wrapper-mobile nav.mobile-nav div.burger-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
}

body .container .colors, body .container .logo {
  display: flex;
  flex-wrap: wrap;
}

.burger-menu .burger-image, div.wrapper-nav div.wrapper-open-nav {
  display: flex;
  justify-content: flex-end;
}

div.signup-form-container, div.front-container, body .container .colors .flex, div.addModal-container div.addModal, div.stud-card, div.tilkynning-card, main.main-container div.main-container, main.main-container, main.login .loginContainer, main.login {
  display: flex;
  flex-direction: column;
}

section.content .greeting img.user-emoji, div.wrapper-nav div.wrapper-open-nav nav.side-nav-open div.nav-box-open div.user-close-nav div.user-emoji {
  border-radius: 50%;
  background-color: pink;
}

.btn-danger, .btn-success {
  border-radius: 5px;
  border: none;
  margin: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.admin {
  visibility: hidden;
}

@font-face {
  font-family: "SanFranReg";
  src: url("../font/SF Compact/SF-Compact-Display-Regular.otf");
}
@font-face {
  font-family: "SanFranMed";
  src: url("../font/SF Compact/SF-Compact-Text-Medium.otf");
}
@font-face {
  font-family: "SanFranBold";
  src: url("../font/SF Compact/SF-Compact-Display-Bold.otf");
}
body {
  font-family: "SanFranReg", sans-serif;
  font-weight: 400;
  src: url("../font/SF Compact/SF-Compact-Display-Bold.otf");
  color: #344762;
}
body h2 {
  font-size: 2rem;
  line-height: 45px;
}
body h3 {
  font-size: 1.5rem;
  line-height: 34px;
}
body p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.efni-heading {
  font-size: 2rem;
  display: flex;
  margin: 4rem 1.5rem;
}

.active-state-holder {
  position: absolute;
  top: 45%;
  left: 7.5%;
  display: flex;
}
.active-state-holder .active-state {
  height: 2px;
  width: 27px;
  background-color: #8F9299;
  margin: 0 0.5rem;
}
.active-state-holder .active-state-1 {
  background-color: #6FCF97;
}

#signup .input-holder {
  height: 65px;
  width: 100%;
}
#signup input {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  border-radius: 5px;
  border: none;
  background-color: #F5F7FA;
}
#signup .btn-position {
  position: relative;
  top: -100%;
  left: 100%;
  height: 100%;
  transform: translateX(-50%);
}
#signup .signup-message {
  position: absolute;
  left: 50%;
}

.input-btn {
  height: 50px;
  width: 80px;
  font-family: sanFranReg;
  font-size: 2rem;
  background: #6FCF97;
  color: #FFFFFF;
  text-align: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
.input-btn .input-btn-container {
  text-align: center;
  padding-top: 1rem;
}

.btn-success {
  height: 3rem;
  width: 15rem;
  color: #FFFFFF;
  background-color: #6FCF97;
  border-radius: 5px;
  border: none;
  margin: 0.5rem;
  cursor: pointer;
}

.btn-primary {
  height: 3rem;
  width: 15rem;
  color: #FFFFFF;
  background-color: #337AB7;
  border-radius: 5px;
  border: none;
  margin: 0.5rem;
  cursor: pointer;
}

.btn-danger {
  width: 15rem;
  height: 3rem;
  color: #fff;
  background-color: #EB5757;
  border-radius: 5px;
  border: none;
  margin: 0.5rem;
  cursor: pointer;
}

.btn-action {
  background: #337AB7;
  border-radius: 5px;
  height: 2rem;
  width: 5.5rem;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
}

div.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(31, 37, 51, 0.8);
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}
div.modal div.modal-content {
  background-color: #fff;
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  width: 45vw !important;
  min-width: 21.5rem;
  height: auto;
  max-height: 75vh;
  border-radius: 10px;
  flex-direction: column;
  padding: 2rem 1.5rem;
}
div.modal div.modal-content form {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
div.modal div.modal-content .modal-heading {
  font-size: 1.5rem;
  line-height: 34px;
}
div.modal div.modal-content .close-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #8F9299;
  cursor: pointer;
}
div.modal div.modal-content input,
div.modal div.modal-content textarea {
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  border: none;
  background-color: #F5F7FA;
  padding: 0 1.5rem;
  margin: 0.5rem 0;
}
div.modal div.modal-content textarea {
  height: 9rem;
  padding: 1rem;
}

div.modal-content-container {
  width: auto;
  height: auto;
}

div.edit-btn-container {
  display: flex;
  justify-content: flex-end;
}
div.edit-btn-container button.edit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin: 12px 0 12px 12px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
  border: none;
  cursor: pointer;
}
div.edit-btn-container button.edit-btn svg {
  color: #8F9299;
  width: 1rem;
  height: 1rem;
}

div.message-modal {
  max-width: 35.5rem;
}
div.message-modal h3,
div.message-modal div.modal-btn-container {
  margin: 0 auto;
}
div.message-modal p {
  text-align: center;
  padding: 0rem 9rem;
}
div.message-modal button {
  margin: 0.5rem auto;
}

@media (max-width: 900px) {
  p {
    padding: 0 !important;
  }
}
div.modal-btn-container {
  display: flex;
}
div.modal-btn-container button {
  margin: 0.5rem !important;
}
@media (max-width: 900px) {
  div.modal-btn-container button {
    width: 8rem;
  }
}

div.modal-text-container {
  max-width: 100%;
}
div.modal-text-container div.link-container {
  padding: 12px 0;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 0.75rem;
}
div.modal-text-container div.link-container a {
  text-decoration: none;
}

.form-group {
  position: relative;
  margin: 1rem 0;
}
.form-group select {
  height: 3rem;
  width: 60%;
  text-align: left;
  border: none;
  background-color: #F5F7FA;
  border-radius: 5px;
  color: #8F9299;
  padding-left: 1.5rem;
}
.form-group label {
  display: none !important;
}
.form-group input {
  height: 3rem;
  width: 100%;
  border: none;
  background-color: #F5F7FA;
  border-radius: 5px;
  color: #8F9299;
}
.form-group textarea {
  height: 10rem;
  width: 100%;
  border: none;
  background-color: #F5F7FA;
  border-radius: 5px;
  color: #8F9299;
  resize: none;
  padding-top: 10px;
  font-family: "SanFranReg";
  font-size: 1rem;
}

.form-btn {
  flex-shrink: 0;
  margin: 0 0 0 auto;
}

.img-and-text {
  width: 20%;
  margin: 0 4rem;
}
.img-and-text .efni-card-img {
  height: 50px;
}
.img-and-text .efni-card__txt {
  margin: 1rem;
  width: 100%;
}

.simplebar-scrollbar {
  margin-bottom: 16px;
}

.simplebar-track {
  margin-top: 4px;
}

.modal-hidden {
  display: none;
}

@media (min-width: 600px) {
  div.wrapper-mobile {
    display: none;
  }
}
@media (max-width: 600px) {
  div.wrapper-mobile {
    display: block;
  }
}
div.wrapper-mobile nav.mobile-nav {
  align-items: center;
  padding: 1.5rem;
  width: 100%;
  height: 50px;
  background-color: #344762;
}
div.wrapper-mobile nav.mobile-nav div.burger-mobile {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #F5F7FA;
  margin: -3.8rem 0 0 0;
}
div.wrapper-mobile nav.mobile-nav div.burger-close {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #F5F7FA;
  margin: 0 0 3rem;
}

@media (max-width: 600px) {
  div.wrapper-nav {
    display: none;
  }
}
div.wrapper-nav div.search-bar {
  height: 72px;
  width: 100%;
  font-family: SanFranMed;
  font-size: 1rem;
  position: fixed;
  background-color: #FFFFFF;
  padding: 2rem;
  color: #8F9299;
  box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.05);
}
div.wrapper-nav div.search-bar label.icon-holder {
  display: flex;
}
div.wrapper-nav div.search-bar label.icon-holder svg {
  margin: 0 1rem 0 0;
}
div.wrapper-nav div.search-bar input#searchInput {
  border: none;
  font-size: 1rem;
  height: 32px;
  width: 100%;
}
div.wrapper-nav nav.side-nav {
  height: 100vh;
  width: 72px;
  flex-direction: column;
  background-color: #FFFFFF;
  padding: 1.5rem 0;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
  position: fixed;
  z-index: 9;
  right: 0;
}
div.wrapper-nav nav.side-nav.side-nav-hidden {
  display: none;
}
div.wrapper-nav nav.side-nav a {
  text-decoration: none;
  color: #8F9299;
}
div.wrapper-nav nav.side-nav div.nav-box {
  height: 30rem;
  width: 72px;
  align-items: center;
  flex-direction: column;
}
div.wrapper-nav div.wrapper-open-nav {
  font-family: SanFranMed;
  font-size: 1rem;
  color: #344762;
}
div.wrapper-nav div.wrapper-open-nav svg {
  margin: 0 0.8rem 0 0;
}
div.wrapper-nav div.wrapper-open-nav.open-nav-hidden {
  display: none;
}
div.wrapper-nav div.wrapper-open-nav nav.side-nav-open {
  background-color: #FFFFFF;
  height: 100vh;
  width: 212px;
  flex-direction: column;
  padding: 1.5rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
  transition: -webkit-transform- 3s ease-in-out;
  transition: transform 3s ease-in-out;
  position: fixed;
  z-index: 9;
  right: 0;
}
div.wrapper-nav div.wrapper-open-nav nav.side-nav-open div.nav-box-open {
  height: 30rem;
  flex-direction: column;
}
div.wrapper-nav div.wrapper-open-nav nav.side-nav-open div.nav-box-open div.user-close-nav {
  align-items: center;
}
div.wrapper-nav div.wrapper-open-nav nav.side-nav-open div.nav-box-open div.user-close-nav div.user-emoji {
  height: 44px;
  width: 44px;
}
#swipe-container {
  margin: 4rem 0;
  background-color: #F5F7FA;
}
#swipe-container .swipe {
  height: 44px;
  width: 300px;
  background-color: beige;
  margin: 1rem 0;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
}

section.content {
  height: auto;
  width: 100%;
  background-color: #F5F7FA;
  padding: 7.5rem 6rem 0 2rem;
  display: flex;
  flex-direction: column;
}
@media (max-width: 900px) {
  section.content {
    padding: 2rem 1rem;
  }
  section.content .btn-primary {
    display: none;
  }
}
section.content .greeting {
  margin: 0 0 2rem 0;
}
section.content .greeting h1 {
  margin: 0 1.8rem 0 0;
  font-family: SanFranBold;
  font-size: 2rem;
  color: #344762;
}
section.content .greeting img.user-emoji {
  height: 44px;
  width: 44px;
}
section.content .bidlisti-selected {
  height: 80px;
  width: 95%;
  position: relative;
  background-color: #FFFF;
  padding: 0 6.5rem 0 3.5rem;
  border-radius: 10px;
  transition: ease-in-out 0.5s;
}
section.content .bidlisti-selected:hover {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
  font-weight: bold;
}
section.content .bidlisti-selected .flex-1, section.content .bidlisti-selected .flex-2 {
  width: 50%;
  align-items: center;
}
section.content .bidlisti-selected .flex-1 .flex-a, section.content .bidlisti-selected .flex-2 .flex-a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 23%;
}
section.content .bidlisti-selected .flex-1 .flex-b, section.content .bidlisti-selected .flex-2 .flex-b {
  margin: 0 5rem;
}
section.content .bidlisti-selected .flex-1 .flex-c, section.content .bidlisti-selected .flex-1 .flex-d, section.content .bidlisti-selected .flex-2 .flex-c, section.content .bidlisti-selected .flex-2 .flex-d {
  width: 25%;
}
section.content .bidlisti-selected .user-img {
  height: 41px;
  width: 41px;
  margin: 0 1rem 0 0;
  background-color: pink;
  border-radius: 50%;
}
section.content .bidlisti-selected .close-btn {
  height: 32px;
  width: 32px;
  position: absolute;
  right: -15px;
  top: -16px;
  border-radius: 50%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
  background-color: #FFFFFF;
}
section.content .vidtal-selected, section.content .efnidags-selected {
  height: 80px;
  width: 95%;
  background-color: #FFFF;
  padding: 0 4.5rem 0 3.5rem;
  border-radius: 10px;
  transition: ease-in-out 0.5s;
}
section.content .vidtal-selected:hover, section.content .efnidags-selected:hover {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
  font-weight: bold;
}
section.content .flex-1 {
  align-items: center;
  width: 40%;
}
section.content .flex-1 .flex-b {
  margin: 0 3rem 0 0;
  justify-content: space-evenly;
  width: 30%;
}
section.content .flex-2 {
  width: 45%;
  justify-content: space-between;
  margin-right: -3rem;
}
section.content .flex-2 .user-img {
  height: 41px;
  width: 41px;
  margin: 0 1rem 0 0;
  background-color: pink;
  border-radius: 50%;
}
section.content .flex-2 .flex-g, section.content .flex-2 button {
  height: 2rem;
  width: 88px;
  background-color: #337AB7;
  color: #FFFFFF;
  border-radius: 5px;
}
section.content .efnidags-selected .flex-2 {
  width: 48%;
  padding: 0 1rem 0 0;
}
section.content .efnidags-active {
  height: 301px;
  width: 95%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0 0;
  background-color: #FFFF;
  padding: 1.5rem 4.5rem 0 3.5rem;
  border-radius: 10px;
  transition: ease-in-out 0.5s;
}
section.content .efnidags-active .flex-container {
  display: flex;
  justify-content: space-between;
}
section.content .efnidags-active .links {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 118px;
}
section.content .efnidags-active .links a {
  margin: 0 0 0.5rem 0;
}
section.content .efnidags-active .line {
  height: 1px;
  width: 93%;
  position: absolute;
  top: 87px;
  background-color: #F2F2F2;
}
section.content button {
  margin: auto 0 4rem auto;
  flex-shrink: 0;
}

.waiting-icon {
  background-color: #b5e9f9;
}
.waiting-icon svg {
  color: #56CCF2;
}

.interview-icon {
  background-color: #f9cfa9;
}
.interview-icon svg {
  color: #F2994A;
}

.content-icon {
  background-color: #cda8ef;
}
.content-icon svg {
  color: #9B51E0;
}

.notification-icon {
  background-color: #f6b2b2;
}
.notification-icon svg {
  color: #EB5757;
}

.burger-menu {
  font-family: "SanFranBold";
  background-color: #F5F7FA;
  width: 100%;
  color: #344762;
  height: 100vh;
  overflow-y: hidden;
}
.burger-menu .burger-container a {
  text-decoration: none;
  color: #344762;
}
.burger-menu div.wrapper-mobile {
  margin: calc(14.9vh - 50px) 0 0 0;
}
.burger-menu div.wrapper-mobile div.burger-close {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #F5F7FA;
  margin: 0 0 3rem;
}

.burger-nav-list {
  display: flex;
  flex-direction: column;
}
.burger-nav-list .burger-list {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 60px;
}
.burger-nav-list .burger-list .burger-icon {
  padding-right: 16px;
}
.burger-nav-list .burger-list .burger-text {
  margin-left: 24px;
}

.burger-list path {
  fill: currentcolor;
}

.burger-list:active {
  color: #337AB7;
}

.burger-list svg path {
  fill: currentcolor;
}

.burger-menu .burger-image {
  width: 100%;
  padding: 32px 24px 96px 0;
}
.burger-menu .burger-image img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.blue-select-feature {
  height: 56px;
  width: 4px;
  position: absolute;
  right: 0;
  border-radius: 5px 0px 0px 5px;
}

.blue {
  background-color: #337AB7;
}

.side-list:active {
  color: #337AB7;
}

.side-list path {
  fill: currentcolor;
}

.side-list svg path {
  fill: currentcolor;
}

.burger:hover, .home:hover, .logout-box:hover {
  color: #337AB7;
}

.list:hover {
  color: #56CCF2;
}

.users:hover {
  color: #F2994A;
}

.folder:hover {
  color: #bb6bd9;
}

.bell:hover {
  color: #EB5757;
}

.settings:hover {
  color: #1F2533;
}

@media (max-height: 600px) {
  div.wrapper-closedNav nav.side-nav {
    padding: 0.8rem 0;
  }
  div.wrapper-closedNav nav.side-nav div.nav-box {
    height: 25rem;
  }
}
@media (max-height: 500px) {
  .wrapper-closedNav .side-nav .nav-box {
    height: 21rem;
  }
}
.side-list {
  position: relative;
  width: 100%;
}

@media (max-height: 600px) {
  div.wrapper-openNav nav.side-nav-open {
    padding: 1.5rem;
  }
  div.wrapper-openNav nav.side-nav-open div.nav-box-open {
    height: 25rem;
  }
}
@media (max-height: 500px) {
  div.wrapper-openNav nav.side-nav-open div.nav-box-open {
    height: 21rem;
  }
}
main.login {
  height: 100vh;
  width: 100vw;
  padding: 1rem;
}
main.login img {
  margin-bottom: 1.5rem;
}
main.login h3 {
  margin-bottom: 3rem;
}
main.login .loginContainer {
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 21.5rem;
}
main.login .loginContainer input.input-field {
  height: 3rem;
  width: 100%;
  background-color: #F5F7FA;
  margin: 0.5rem 0;
  border: none;
  border-radius: 5px;
  padding-left: 1rem;
}
main.login .loginContainer a {
  text-decoration: none;
  color: #8F9299;
  align-self: flex-end;
  margin-bottom: 2rem;
}

main.main-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  padding: 1rem;
}
main.main-container svg {
  position: absolute;
  margin: 1.5rem 0 0 2.5rem;
}
main.main-container div.main-container {
  margin: auto;
  width: 100%;
  max-width: 21.5rem;
}
main.main-container div.main-container div.progress-title {
  padding: 0;
  margin-bottom: 0;
}
main.main-container div.main-container div.progress-title a {
  color: #8F9299;
}

div.Input-Container {
  height: 5rem;
  width: 100%;
  display: flex;
  margin: 1rem 0 1.5rem;
}
div.Input-Container input.input-field {
  background-color: #F5F7FA;
  height: 100%;
  border: none;
  border-radius: 5px;
  flex-grow: 1;
  padding-left: 1rem;
}
div.Input-Container .input-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 20%;
  border: none;
  flex-shrink: 0;
}

div.link-sent {
  align-items: center;
  justify-content: center;
}
div.link-sent h3 {
  margin-bottom: 2rem !important;
}

main.ui-container {
  min-height: 100vh;
  padding: 2rem 1rem 0 1rem;
  background-color: #F5F7FA;
  max-width: 100vw;
}

div.header-container {
  margin-bottom: 0.5rem;
}
div.header-container h2.timer {
  margin-left: auto;
}

div.id-icon {
  height: 2.5rem;
  width: 2.5rem;
  justify-content: center;
  border-radius: 50%;
  margin-right: 0.5rem;
}

div.card-container {
  height: 6.5rem;
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  background-color: transparent;
  margin-bottom: 0.5rem;
}
div.card-container div.course-icon {
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 0;
  right: 1.5rem;
  border-radius: 50%;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
}

div.card {
  height: 5rem;
  width: 100%;
  position: relative;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  padding: 0 1.5rem 0.5rem 1.5rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
}

div.profile img {
  border-radius: 50%;
  margin-right: 40px;
}

div.tilkynning-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 5rem;
  width: 100%;
  position: relative;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 1rem 1.5rem 0.5rem 1.5rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
}
div.tilkynning-card span {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
div.tilkynning-card div p {
  margin-right: 1rem;
}
div.tilkynning-card div img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}
div.tilkynning-card button, div.tilkynning-card .date-holder-desktop {
  display: none;
}

div.stud-card {
  height: 5rem;
  width: 100%;
  position: relative;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 1rem 1.5rem 0.5rem 1.5rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
}
div.stud-card span {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
div.stud-card div p {
  margin-right: 1rem;
}
div.stud-card div img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

div.alert-icon {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: #EB5757;
  border-radius: 50%;
  right: 0;
  top: 1rem;
}

div.date-pill,
div.time-pill {
  position: absolute;
  height: auto;
  width: auto;
  border-radius: 5px;
  background-color: #fff;
  padding: 0 0.5rem;
  top: 1rem;
  right: 1.5rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
}
div.date-pill p,
div.time-pill p {
  font-weight: bold;
}

div.time-pill {
  right: 5rem;
}

div.profile-img {
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  right: 1.5rem;
  bottom: 0.5rem;
  background-image: url("../img/jonni.png");
  border-radius: 50%;
}

div.addBtn {
  height: 5rem;
  width: 100%;
  justify-content: space-between;
  padding: 0 1.5rem;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin: 2rem 0;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
div.addBtn p {
  font-weight: bold;
  color: #8F9299;
}
div.addBtn div.addPlus {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: #337AB7;
}
div.addBtn div.addPlus i {
  color: #FFFFFF;
}

div.addModal-container {
  max-width: 100vw;
  min-height: 100vh;
  padding: 0 1rem;
  background-color: #1F2533;
  opacity: 0.8;
}
div.addModal-container div.addModal {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 2rem 1.5rem;
  width: 100%;
}
div.addModal-container div.addModal select,
div.addModal-container div.addModal textarea {
  height: 3rem;
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: #F5F7FA;
  padding: 0 1rem;
  margin: 0.5rem 0;
}
div.addModal-container div.addModal textarea {
  height: 9rem;
  padding: 1rem;
}
div.addModal-container div.addModal button.btn-success {
  align-self: flex-end;
  margin-right: 0;
}

div.card-container-desktop {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
  background-color: transparent;
  margin: 3.875rem 0 0.5rem 0;
}
div.card-container-desktop h3 {
  font-size: 24px;
  margin-right: 32px;
}
div.card-container-desktop div.card {
  position: relative;
  width: 212px;
  height: 232px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0 1.5rem 0.5rem 1.5rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
}
div.card-container-desktop div.profile-img {
  position: initial;
  width: 78.3px;
  height: 90.88px;
  margin-right: 32px;
}
div.card-container-desktop div.course-icon {
  position: absolute;
  top: -24px;
  right: 8px;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
}

div.status-icon {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -0.3rem;
  height: 3rem;
}

div.date-holder-mobile {
  position: absolute;
  top: -8px;
  right: 1.2rem;
  height: 24px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

div.interview-heads-left p {
  width: 17vw !important;
}

div.interview-heads-right div.kennari {
  width: 14vw !important;
}
div.interview-heads-right button {
  margin: 0 0 0 auto !important;
}

div.bidlisti-headings div.heads-left p {
  width: 18vw;
}
div.bidlisti-headings div.heads-left span {
  width: 27vw;
}
div.bidlisti-headings div.heads-right {
  width: 100%;
}
div.bidlisti-headings div.heads-right p,
div.bidlisti-headings div.heads-right span {
  width: 16vw;
}

div.waiting-heads-left img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-right: 2rem;
}
div.waiting-heads-left div.course {
  width: 18vw !important;
}
div.waiting-heads-left p {
  width: 27vw !important;
}

div.waiting-heads-right div.kennari {
  width: 16vw !important;
}
div.waiting-heads-right span {
  width: 10vw !important;
}

.mCard {
  display: none !important;
}
@media (max-width: 900px) {
  .mCard {
    display: flex !important;
  }
}

.dCard {
  display: flex !important;
}
@media (max-width: 900px) {
  .dCard {
    display: none !important;
  }
}

body .container {
  width: 80%;
  margin: 0 auto;
}
body .container h1 {
  font-family: SanFranReg;
  font-size: 2.5rem;
  margin: 4rem 0;
}
body .container .logo {
  height: 100%;
  width: 100%;
  margin: 0 1.5rem;
}
body .container .logo .logo-1 {
  background-image: url("../img/Tskoli-logo.svg");
  background-repeat: no-repeat;
  height: 130px;
  width: 79px;
  height: 130px;
  width: 79px;
  background-image: url("../img/Tskoli-logo.svg");
  background-repeat: no-repeat;
}
body .container .logo .logo-2 {
  height: 83px;
  width: 217px;
  background-image: url("../img/Vefskoli-logo.svg");
  background-repeat: no-repeat;
}
body .container .logo .logo-3 {
  height: 130px;
  width: 79px;
  background-image: url("../img/tskoli-logo-dark.svg");
  background-repeat: no-repeat;
}
body .container .colors {
  font-family: SanFranReg;
  font-size: 1.3rem;
}
body .container .colors .flex {
  margin: 0 0.5rem;
}
body .container .colors .flex .white {
  height: 120px;
  width: 120px;
  margin: 0.5rem 0;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 7px lightgrey;
}
body .container .colors .flex .lightGrey {
  height: 120px;
  width: 120px;
  margin: 0.5rem 0;
  background-color: #F5F7FA;
  box-shadow: 1px 1px 7px lightgrey;
}
body .container .colors .flex .gray {
  height: 120px;
  width: 120px;
  margin: 0.5rem 0;
  background-color: #8F9299;
  box-shadow: 1px 1px 7px lightgrey;
}
body .container .colors .flex .lightBlue {
  height: 120px;
  width: 120px;
  margin: 0.5rem 0;
  background-color: #337AB7;
  box-shadow: 1px 1px 7px lightgrey;
}
body .container .colors .flex .darkBlue {
  height: 120px;
  width: 120px;
  margin: 0.5rem 0;
  background-color: #1F2533;
  box-shadow: 1px 1px 7px lightgrey;
}
body .container .colors .flex .navyBlue {
  height: 120px;
  width: 120px;
  margin: 0.5rem 0;
  background-color: #344762;
  box-shadow: 1px 1px 7px lightgrey;
}
body .container .colors .flex .neonOrange {
  height: 120px;
  width: 120px;
  margin: 0.5rem 0;
  background-color: #FF623F;
  box-shadow: 1px 1px 7px lightgrey;
}
body .container .type {
  margin: 0 0 5rem 0;
}
body .container .type h2 {
  font-family: SanFranReg;
  font-size: 1.9rem;
  margin: 2.2rem 0;
}
body .container .type .type-1 :nth-child(1) {
  font-family: SanFranReg;
  font-size: 2rem;
}
body .container .type .type-1 :nth-child(2) {
  font-family: SanFranMed;
  font-size: 2rem;
}
body .container .type .type-1 :nth-child(3) {
  font-family: SanFranBold;
  font-size: 2rem;
}
body .container .type .type-2 :nth-child(1) {
  font-family: SanFranReg;
  font-size: 1.5rem;
}
body .container .type .type-2 :nth-child(2) {
  font-family: SanFranMed;
  font-size: 1.5rem;
}
body .container .type .type-2 :nth-child(3) {
  font-family: SanFranBold;
  font-size: 1.5rem;
}
body .container .type .type-3 :nth-child(1) {
  font-family: SanFranReg;
  font-size: 1rem;
}
body .container .type .type-3 :nth-child(2) {
  font-family: SanFranMed;
  font-size: 1rem;
}
body .container .type .type-3 :nth-child(3) {
  font-family: SanFranBold;
  font-size: 1rem;
}
body .container .type .type-4 :nth-child(1) {
  font-family: SanFranReg;
  font-size: 0.875rem;
}
body .container .type .type-4 :nth-child(2) {
  font-family: SanFranMed;
  font-size: 0.875rem;
}
body .container .type .type-4 :nth-child(3) {
  font-family: SanFranBold;
  font-size: 0.875rem;
}

@media (max-width: 1200px) {
  .type-1,
.type-2,
.type-3,
.type-4 {
    flex-direction: column;
  }
}
main.signup-main-container {
  position: relative;
  overflow: hidden;
}
main.signup-main-container svg {
  position: absolute;
  margin: 2.5rem 0 0 3.5rem;
}

section.background-container {
  height: 100vh;
  width: 100vw;
  display: flex;
}
section.background-container div.bg-left {
  height: 100%;
  width: 40vw;
  background-color: #FFFFFF;
}
section.background-container div.bg-right {
  height: 100%;
  width: 60vw;
  background-color: cyan;
}
section.background-container div.bg-right::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 2;
}
section.background-container div.bg-right img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

div.front-container {
  height: 100vh;
  width: 42vw;
  background-color: transparent;
  position: absolute;
  z-index: 12;
}

div.signup-form-container {
  margin: auto 0 auto auto;
  width: 80%;
}
div.signup-form-container div.progress-container {
  margin: 0 auto 3.25rem 0;
}
div.signup-form-container div.progress-container div.progress-bar {
  height: 2px;
  width: 27px;
  background-color: #8F9299;
  margin-left: 0.5rem;
}
div.signup-form-container div.progress-container div.bar1 {
  background-color: #6FCF97;
}
div.signup-form-container div.Input-Container {
  width: 100%;
  margin: 1rem 0 1.5rem auto;
}
div.signup-form-container .signup-message {
  font-size: 1.2rem;
}

div.progress-title {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}
div.progress-title i {
  margin-right: 1.5rem;
}
@media (max-width: 900px) {
  div.progress-title i {
    display: none;
  }
}

i.back-btn-m {
  display: none;
}
@media (max-width: 900px) {
  i.back-btn-m {
    display: block;
  }
}

@media (max-width: 900px) {
  div.bg-right,
div.bg-left {
    display: none;
  }

  div.front-container {
    width: 100%;
  }
}
@media (max-width: 900px) and (max-width: 900px) {
  div.front-container {
    padding: 0 1rem;
  }
}
@media (max-width: 900px) {
  div.signup-form-container {
    align-items: flex-start;
    margin: auto 0;
    width: 100%;
    max-width: 21.5rem;
  }
}
@media (max-width: 900px) and (max-width: 900px) {
  div.signup-form-container {
    max-width: 100%;
  }
}
@media (max-width: 900px) {
  div.signup-form-container div.progress-container,
div.signup-form-container div.Input-Container {
    margin-left: 0;
  }
}
@media (max-width: 900px) {
  div.signup-form-container div.progress-title {
    padding-left: 0;
  }
}
@media (max-width: 900px) {
  div.signup-form-container div.Input-Container {
    width: 100%;
  }
}
.progress-bar-1 {
  background-color: #6FCF97 !important;
}

.input-btn {
  cursor: pointer;
}

form#signup {
  width: 100%;
}

section.notification-container {
  display: flex;
  flex-direction: column;
}
section.notification-container button {
  margin: auto 0 4rem auto;
  flex-shrink: 0;
}

.tilkynningar-headings {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin: 2rem 0 1.5rem 0;
  padding-left: 2.5rem;
}
.tilkynningar-headings p {
  width: 14vw;
}
.tilkynningar-headings span {
  width: 38vw;
}

div#content-holder {
  display: flex;
  flex-direction: column;
}
div#content-holder button {
  margin-left: auto;
}

div.notification-dtop-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0 2.5rem;
}
div.notification-dtop-container div.alert-icon {
  top: -9px;
  right: -7px;
}

div.left-stuff,
div.right-stuff {
  display: flex;
  align-items: center;
  width: 100%;
}

div.left-stuff span {
  width: 14vw;
}
div.left-stuff p {
  width: 38vw;
}

div.right-stuff img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin-right: 10px;
}
div.right-stuff div {
  display: flex;
  align-items: center;
  margin-right: auto;
}
div.right-stuff button {
  height: 2rem;
  width: 5.5rem;
  margin: 0 0 0 auto;
}

.efni-headings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  margin: 2rem 0 1.5rem 0;
  padding-left: 2.5rem;
  overflow: hidden;
}

div#content-holder {
  display: flex;
  flex-direction: column;
}
div#content-holder button {
  margin-left: auto;
}

div.heads-left {
  display: flex;
  align-items: center;
}
div.heads-left p {
  width: 13vw;
}
div.heads-left div.course {
  display: flex;
  align-items: center;
}
div.heads-left div.course img {
  height: 3rem;
  width: auto;
  margin-right: 1rem;
}
div.heads-left span {
  width: 18vw;
}

div.heads-right {
  display: flex;
  align-items: center;
}
div.heads-right p {
  width: 13vw;
}
div.heads-right span {
  font-size: 1rem;
  width: 23vw;
}

div.notification-dtop-container div.heads-left span {
  width: 10vw;
}
div.notification-dtop-container div.heads-left div.course {
  width: 16vw;
}
div.notification-dtop-container div.heads-left p {
  width: 18vw;
}
div.notification-dtop-container div.heads-right {
  width: 100%;
}
div.notification-dtop-container div.heads-right div.kennari {
  display: flex;
  align-items: center;
  width: 13vw;
}
div.notification-dtop-container div.heads-right img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin-right: 10px;
}
div.notification-dtop-container div.heads-right svg {
  height: 2rem;
  width: 2rem;
}
div.notification-dtop-container div.heads-right button {
  height: 2rem;
  width: 5.5rem;
  margin: 0 auto;
}
div.notification-dtop-container div.heads-right p {
  width: 10vw;
}
div.notification-dtop-container div.heads-right span {
  width: 13vw;
}

/*# sourceMappingURL=app.css.map */
=======
body .container .type .type-4,body .container .type .type-3,body .container .type .type-2,body .container .type .type-1,body .container .colors{display:flex;justify-content:space-evenly}body .container .logo,section.content .flex-1,section.content .vidtal-selected,section.content .efnidags-selected,section.content .bidlisti-selected .flex-1,section.content .bidlisti-selected .flex-2,section.content .bidlisti-selected,div.wrapper-nav div.wrapper-open-nav nav.side-nav-open div.nav-box-open div.user-close-nav,div.wrapper-nav div.wrapper-open-nav nav.side-nav-open div.nav-box-open,div.wrapper-nav div.wrapper-open-nav nav.side-nav-open,div.wrapper-nav nav.side-nav div.nav-box,div.wrapper-nav nav.side-nav,div.wrapper-nav,div.wrapper-mobile nav.mobile-nav{display:flex;justify-content:space-between}div.addModal-container,div.addBtn div.addPlus,div.card .close-btn,div.card-container div.course-icon,.side-list,.burger-menu div.wrapper-mobile div.burger-close,section.content .bidlisti-selected .close-btn,div.wrapper-nav nav.side-nav div.logout-box,div.wrapper-mobile nav.mobile-nav div.burger-close,div.wrapper-mobile nav.mobile-nav div.burger-mobile{display:flex;align-items:center;justify-content:center}div.signup-form-container div.progress-container,div.addBtn,div.stud-card div,div.tilkynning-card div,div.id-icon,div.header-container,.burger-nav-list .burger-list,section.content .flex-2 .flex-d,section.content .flex-2,section.content .flex-1 .flex-b,section.content .bidlisti-selected .flex-1 .flex-c,section.content .bidlisti-selected .flex-1 .flex-d,section.content .bidlisti-selected .flex-2 .flex-c,section.content .bidlisti-selected .flex-2 .flex-d,section.content .greeting,div.wrapper-nav div.wrapper-open-nav nav.side-nav-open div.logout-box div.logout,div.wrapper-nav div.wrapper-open-nav nav.side-nav-open div.nav-box-open .home,div.wrapper-nav div.wrapper-open-nav nav.side-nav-open div.nav-box-open .list,div.wrapper-nav div.wrapper-open-nav nav.side-nav-open div.nav-box-open .users,div.wrapper-nav div.wrapper-open-nav nav.side-nav-open div.nav-box-open .folder,div.wrapper-nav div.wrapper-open-nav nav.side-nav-open div.nav-box-open .bell,div.wrapper-nav div.wrapper-open-nav nav.side-nav-open div.nav-box-open .settings,div.wrapper-nav div.wrapper-open-nav nav.side-nav-open div.nav-box-open .logout-box,div.wrapper-nav div.search-bar,.img-and-text{display:flex;align-items:center}div.addModal-container,div.addBtn div.addPlus,div.card .close-btn,div.card-container div.course-icon,.side-list,.burger-menu div.wrapper-mobile div.burger-close,section.content .bidlisti-selected .close-btn,div.wrapper-nav nav.side-nav div.logout-box,div.wrapper-mobile nav.mobile-nav div.burger-close,div.wrapper-mobile nav.mobile-nav div.burger-mobile{display:flex;align-items:center;justify-content:center}body .container .colors,body .container .logo{display:flex;flex-wrap:wrap}.burger-menu .burger-image,div.wrapper-nav div.wrapper-open-nav{display:flex;justify-content:flex-end}div.signup-form-container,div.front-container,body .container .colors .flex,div.addModal-container div.addModal,div.stud-card,div.tilkynning-card,main.main-container div.main-container,main.main-container,main.login .loginContainer,main.login{display:flex;flex-direction:column}section.content .greeting img.user-emoji,div.wrapper-nav div.wrapper-open-nav nav.side-nav-open div.nav-box-open div.user-close-nav div.user-emoji{border-radius:50%;background-color:pink}.btn-danger,.btn-success{border-radius:5px;border:none;margin:.5rem}*{margin:0;padding:0;box-sizing:border-box}.admin{visibility:hidden}@font-face{font-family:"SanFranReg";src:url("../font/SF Compact/SF-Compact-Display-Regular.otf")}@font-face{font-family:"SanFranMed";src:url("../font/SF Compact/SF-Compact-Text-Medium.otf")}@font-face{font-family:"SanFranBold";src:url("../font/SF Compact/SF-Compact-Display-Bold.otf")}body{font-family:"SanFranReg",sans-serif;font-weight:400;src:url("../font/SF Compact/SF-Compact-Display-Bold.otf");color:#344762;background-color:#f5f7fa}body h2{font-size:2rem;line-height:45px}body h3{font-size:1.5rem;line-height:34px}body p{font-size:1rem;line-height:1.5rem}.efni-heading{font-size:2rem;display:flex;margin:4rem 1.5rem}.active-state-holder{position:absolute;top:45%;left:7.5%;display:flex}.active-state-holder .active-state{height:2px;width:27px;background-color:#8f9299;margin:0 .5rem}.active-state-holder .active-state-1{background-color:#6fcf97}#signup .input-holder{height:65px;width:100%}#signup input{height:100%;width:100%;position:relative;top:0;border-radius:5px;border:none;background-color:#f5f7fa}#signup .btn-position{position:relative;top:-100%;left:100%;height:100%;transform:translateX(-50%)}#signup .signup-message{position:absolute;left:50%}.input-btn{height:50px;width:80px;font-family:sanFranReg;font-size:2rem;background:#6fcf97;color:#fff;text-align:center;border-top-right-radius:5px;border-bottom-right-radius:5px;cursor:pointer}.input-btn .input-btn-container{text-align:center;padding-top:1rem}.btn-success{height:3rem;width:15rem;color:#fff;background-color:#6fcf97;border-radius:5px;border:none;margin:.5rem;cursor:pointer}.btn-primary{height:3rem;width:15rem;color:#fff;background-color:#337ab7;border-radius:5px;border:none;margin:.5rem;cursor:pointer}.btn-danger{width:15rem;height:3rem;color:#fff;background-color:#eb5757;border-radius:5px;border:none;margin:.5rem;cursor:pointer}.btn-action{background:#337ab7;border-radius:5px;height:2rem;width:5.5rem;border:none;cursor:pointer;color:#fff}div.modal{height:100vh;width:100vw;position:fixed;background-color:rgba(31,37,51,.8);top:0;left:0;z-index:100;display:none}div.modal-content-container{width:auto;height:auto}div.edit-btn-container{display:flex;justify-content:flex-end}div.edit-btn-container button.edit-btn{display:flex;align-items:center;justify-content:center;width:2rem;height:2rem;margin:12px 0 12px 12px;border-radius:50%;background-color:#fff;box-shadow:0px 5px 5px rgba(0,0,0,.05);border:none;cursor:pointer}div.edit-btn-container button.edit-btn svg{color:#8f9299;width:1rem;height:1rem}div.message-modal{max-width:35.5rem}div.message-modal h3,div.message-modal div.modal-btn-container{margin:0 auto}div.message-modal p{text-align:center;padding:0rem 9rem}div.message-modal button{margin:.5rem auto}@media(max-width: 900px){p{padding:0 !important}}div.modal-btn-container{display:flex}div.modal-btn-container button{margin:.5rem !important}@media(max-width: 900px){div.modal-btn-container button{width:8rem}}div.modal-text-container{max-width:100%}div.modal-text-container div.link-container{padding:12px 0;border-top:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;margin-bottom:.75rem}div.modal-text-container div.link-container a{text-decoration:none}.form-group{position:relative;margin:1rem 0}.form-group select{height:3rem;width:60%;text-align:left;border:none;background-color:#f5f7fa;border-radius:5px;color:#8f9299;padding-left:1.5rem}.form-group label{display:none !important}.form-group input{height:3rem;width:100%;border:none;background-color:#f5f7fa;border-radius:5px;color:#8f9299}.form-group textarea{height:10rem;width:100%;border:none;background-color:#f5f7fa;border-radius:5px;color:#8f9299;resize:none;padding-top:10px;font-family:"SanFranReg";font-size:1rem}.form-btn{flex-shrink:0;margin:0 0 0 auto}.img-and-text{width:20%;margin:0 4rem}.img-and-text .efni-card-img{height:50px}.img-and-text .efni-card__txt{margin:1rem;width:100%}.simplebar-scrollbar{margin-bottom:16px}.simplebar-track{margin-top:4px}.modal-hidden{display:none}.eydaModal{height:100vh;width:100vw;position:fixed;background-color:rgba(31,37,51,.8);top:0;left:0;z-index:102}div.modal-content{background-color:#fff;position:fixed !important;top:50%;left:50%;transform:translate(-50%, -50%);z-index:101;width:45vw !important;min-width:21.5rem;height:auto;max-height:75vh;border-radius:10px;flex-direction:column;padding:2rem 1.5rem}div.modal-content form{display:flex;flex-direction:column;overflow-y:auto}div.modal-content .modal-heading{font-size:1.5rem;line-height:34px}div.modal-content .close-modal{position:absolute;top:1rem;right:1rem;color:#8f9299;cursor:pointer}div.modal-content input,div.modal-content textarea{width:100%;height:3rem;border-radius:5px;border:none;background-color:#f5f7fa;padding:0 1.5rem;margin:.5rem 0}div.modal-content textarea{height:9rem;padding:1rem}@media(min-width: 900px){div.wrapper-mobile{display:none}}@media(max-width: 900px){div.wrapper-mobile{display:block;position:fixed;bottom:0;width:100%}}div.wrapper-mobile nav.mobile-nav{align-items:center;padding:1.5rem;width:100%;height:50px;background-color:#344762}div.wrapper-mobile nav.mobile-nav div.burger-mobile{height:70px;width:70px;border-radius:50%;background-color:#f5f7fa;margin:-3.8rem 0 0 0}div.wrapper-mobile nav.mobile-nav div.burger-close{height:70px;width:70px;border-radius:50%;background-color:#f5f7fa;margin:0 0 3rem}@media(max-width: 900px){div.wrapper-nav{display:none}}div.wrapper-nav div.search-bar{height:72px;width:100%;font-family:SanFranMed;font-size:1rem;position:fixed;background-color:#fff;padding:2rem;color:#8f9299;box-shadow:-5px 0px 5px rgba(0,0,0,.05);z-index:88}div.wrapper-nav div.search-bar label.icon-holder{display:flex}div.wrapper-nav div.search-bar label.icon-holder svg{margin:0 1rem 0 0}div.wrapper-nav div.search-bar input#searchInput{border:none;font-size:1rem;height:32px;width:100%}div.wrapper-nav nav.side-nav{height:100vh;width:72px;flex-direction:column;background-color:#fff;padding:1.5rem 0;box-shadow:0px 0px 5px rgba(0,0,0,.05);position:fixed;z-index:100;right:0}div.wrapper-nav nav.side-nav.side-nav-hidden{display:none}div.wrapper-nav nav.side-nav a{text-decoration:none;color:#8f9299}div.wrapper-nav nav.side-nav div.nav-box{height:30rem;width:72px;align-items:center;flex-direction:column}div.wrapper-nav div.wrapper-open-nav{font-family:SanFranMed;font-size:1rem;color:#344762}div.wrapper-nav div.wrapper-open-nav svg{margin:0 .8rem 0 0}div.wrapper-nav div.wrapper-open-nav.open-nav-hidden{display:none}div.wrapper-nav div.wrapper-open-nav nav.side-nav-open{background-color:#fff;height:100vh;width:212px;flex-direction:column;padding:1.5rem;box-shadow:0px 0px 5px rgba(0,0,0,.05);transition:-webkit-transform- 3s ease-in-out;transition:transform 3s ease-in-out;position:fixed;z-index:106;right:0}div.wrapper-nav div.wrapper-open-nav nav.side-nav-open div.nav-box-open{height:30rem;flex-direction:column}div.wrapper-nav div.wrapper-open-nav nav.side-nav-open div.nav-box-open div.user-close-nav{align-items:center}div.wrapper-nav div.wrapper-open-nav nav.side-nav-open div.nav-box-open div.user-close-nav div.user-emoji{height:44px;width:44px}#swipe-container{background-color:#f5f7fa}.swipe{height:44px;width:300px;background-color:beige;margin:1rem 0;box-shadow:0px 0px 5px rgba(0,0,0,.05)}section.content{height:auto;width:100%;background-color:#f5f7fa;padding:7.5rem 6rem 0 2rem;display:flex;flex-direction:column;overflow:hidden}@media(max-width: 900px){section.content{padding:2rem 1rem}section.content .btn-primary{display:none}}section.content .greeting{margin:0 0 2rem 0}section.content .greeting h1{margin:0 1.8rem 0 0;font-family:SanFranBold;font-size:2rem;color:#344762}section.content .greeting img.user-emoji{height:44px;width:44px}section.content .bidlisti-selected{height:80px;width:95%;position:relative;background-color:#fff;padding:0 6.5rem 0 3.5rem;border-radius:10px;transition:ease-in-out .5s}section.content .bidlisti-selected:hover{box-shadow:0px 5px 5px rgba(0,0,0,.05);font-weight:bold}section.content .bidlisti-selected .flex-1,section.content .bidlisti-selected .flex-2{width:50%;align-items:center}section.content .bidlisti-selected .flex-1 .flex-a,section.content .bidlisti-selected .flex-2 .flex-a{display:flex;align-items:center;justify-content:space-between;width:23%}section.content .bidlisti-selected .flex-1 .flex-b,section.content .bidlisti-selected .flex-2 .flex-b{margin:0 5rem}section.content .bidlisti-selected .flex-1 .flex-c,section.content .bidlisti-selected .flex-1 .flex-d,section.content .bidlisti-selected .flex-2 .flex-c,section.content .bidlisti-selected .flex-2 .flex-d{width:25%}section.content .bidlisti-selected .user-img{height:41px;width:41px;margin:0 1rem 0 0;background-color:pink;border-radius:50%}section.content .bidlisti-selected .close-btn{height:32px;width:32px;position:absolute;right:-15px;top:-16px;border-radius:50%;box-shadow:0px 5px 5px rgba(0,0,0,.05);background-color:#fff}section.content .vidtal-selected,section.content .efnidags-selected{height:80px;width:95%;background-color:#fff;padding:0 4.5rem 0 3.5rem;border-radius:10px;transition:ease-in-out .5s}section.content .vidtal-selected:hover,section.content .efnidags-selected:hover{box-shadow:0px 5px 5px rgba(0,0,0,.05);font-weight:bold}section.content .flex-1{align-items:center;width:40%}section.content .flex-1 .flex-b{margin:0 3rem 0 0;justify-content:space-evenly;width:30%}section.content .flex-2{width:45%;justify-content:space-between;margin-right:-3rem}section.content .flex-2 .user-img{height:41px;width:41px;margin:0 1rem 0 0;background-color:pink;border-radius:50%}section.content .flex-2 .flex-g,section.content .flex-2 button{height:2rem;width:88px;background-color:#337ab7;color:#fff;border-radius:5px}section.content .efnidags-selected .flex-2{width:48%;padding:0 1rem 0 0}section.content .efnidags-active{height:301px;width:95%;position:relative;display:flex;flex-direction:column;margin:2rem 0 0 0;background-color:#fff;padding:1.5rem 4.5rem 0 3.5rem;border-radius:10px;transition:ease-in-out .5s}section.content .efnidags-active .flex-container{display:flex;justify-content:space-between}section.content .efnidags-active .links{display:flex;flex-direction:column;position:absolute;top:118px}section.content .efnidags-active .links a{margin:0 0 .5rem 0}section.content .efnidags-active .line{height:1px;width:93%;position:absolute;top:87px;background-color:#f2f2f2}button{margin:auto 0 4rem auto !important;flex-shrink:0 !important}.waiting-icon{background-color:#b5e9f9}.waiting-icon svg{color:#56ccf2}.interview-icon{background-color:#f9cfa9}.interview-icon svg{color:#f2994a}.content-icon{background-color:#cda8ef}.content-icon svg{color:#9b51e0}.notification-icon{background-color:#f6b2b2}.notification-icon i,.notification-icon svg{color:#eb5757}.burger-menu{font-family:"SanFranBold";background-color:#f5f7fa;width:100%;color:#344762;height:100vh;overflow-y:hidden}.burger-menu .burger-container a{text-decoration:none;color:#344762}.burger-menu div.wrapper-mobile{margin:calc(14.9vh - 50px) 0 0 0}.burger-menu div.wrapper-mobile div.burger-close{height:70px;width:70px;border-radius:50%;background-color:#f5f7fa;margin:0 0 3rem}.burger-nav-list{display:flex;flex-direction:column}.burger-nav-list .burger-list{width:50%;margin:0 auto;margin-bottom:60px}.burger-nav-list .burger-list .burger-icon{padding-right:16px}.burger-nav-list .burger-list .burger-text{margin-left:24px}.burger-list path{fill:currentcolor}.burger-list:active{color:#337ab7}.burger-list svg path{fill:currentcolor}.burger-menu .burger-image{width:100%;padding:32px 24px 96px 0}.burger-menu .burger-image img{height:40px;width:40px;border-radius:50%}.blue-select-feature{height:56px;width:4px;position:absolute;right:0;border-radius:5px 0px 0px 5px}.blue{background-color:#337ab7}.side-list:active{color:#337ab7}.side-list path{fill:currentcolor}.side-list svg path{fill:currentcolor}.burger:hover,.home:hover,.logout-box:hover{color:#337ab7}.list:hover{color:#56ccf2}.users:hover{color:#f2994a}.folder:hover{color:#bb6bd9}.bell:hover{color:#eb5757}.settings:hover{color:#1f2533}@media(max-height: 600px){div.wrapper-closedNav nav.side-nav{padding:.8rem 0}div.wrapper-closedNav nav.side-nav div.nav-box{height:25rem}}@media(max-height: 500px){.wrapper-closedNav .side-nav .nav-box{height:21rem}}.side-list{position:relative;width:100%}@media(max-height: 600px){div.wrapper-openNav nav.side-nav-open{padding:1.5rem}div.wrapper-openNav nav.side-nav-open div.nav-box-open{height:25rem}}@media(max-height: 500px){div.wrapper-openNav nav.side-nav-open div.nav-box-open{height:21rem}}main.login{height:100vh;width:100vw;background-color:#fff}main.login img{margin-bottom:1.5rem}main.login h3{margin-bottom:3rem}main.login .loginContainer{align-items:center;margin:auto;width:100%;max-width:21.5rem}main.login .loginContainer input.input-field{height:3rem;width:100%;background-color:#f5f7fa;margin:.5rem 0;border:none;border-radius:5px;padding-left:1rem}main.login .loginContainer a{text-decoration:none;color:#8f9299;align-self:flex-end;margin-bottom:2rem}main.login .loginContainer button{margin:.5rem !important}main.main-container{display:flex;height:100vh;width:100vw;padding:1rem;background-color:#fff}main.main-container svg{position:absolute;margin:1.5rem 0 0 2.5rem}main.main-container div.main-container{margin:auto;width:100%;max-width:21.5rem}main.main-container div.main-container div.progress-title{padding:0;margin-bottom:0}main.main-container div.main-container div.progress-title a{color:#8f9299}div.Input-Container{height:5rem;width:100%;display:flex;margin:1rem 0 1.5rem}div.Input-Container input.input-field{background-color:#f5f7fa;height:100%;border:none;border-radius:5px;flex-grow:1;padding-left:1rem}div.Input-Container .input-btn{display:flex;align-items:center;justify-content:center;height:100%;width:20%;border:none;flex-shrink:0}div.link-sent{align-items:center;justify-content:center}div.link-sent h3{margin-bottom:2rem !important}main.ui-container{min-height:100vh;padding:2rem 1rem 0 1rem;background-color:#f5f7fa;max-width:100vw}div.header-container{margin-bottom:.5rem}div.header-container h2.timer{margin-left:auto}div.id-icon{height:2.5rem;width:2.5rem;justify-content:center;border-radius:50%;margin-right:.5rem}div.card-container{height:6.5rem;width:100%;position:relative;display:flex;align-items:flex-end;background-color:transparent;margin-bottom:.5rem}div.card-container div.course-icon{height:3rem;width:3rem;position:absolute;top:0;right:1.5rem;border-radius:50%;background-color:#fff;box-shadow:0px 5px 5px rgba(0,0,0,.05)}div.card{height:5rem;width:100%;position:relative;background-color:#fff;border-radius:10px;display:flex;align-items:flex-end;padding:0 1.5rem .5rem 1.5rem;transition:ease-in-out .5s}div.card:hover{box-shadow:0px 5px 5px rgba(0,0,0,.05);font-weight:bold}div.card .close-btn{height:32px;width:32px;position:absolute;right:-15px;top:-16px;border-radius:50%;box-shadow:0px 5px 5px rgba(0,0,0,.05);background-color:#fff}div.profile img{border-radius:50%;margin-right:40px}div.tilkynning-card{display:flex;flex-direction:column;justify-content:space-between;height:5rem;width:100%;position:relative;background-color:#fff;border-radius:10px;padding:1rem 1.5rem .5rem 1.5rem;box-shadow:0px 5px 5px rgba(0,0,0,.05)}div.tilkynning-card span{font-weight:bold;margin-bottom:.5rem}div.tilkynning-card div p{margin-right:1rem}div.tilkynning-card div img{height:2.5rem;width:2.5rem;border-radius:50%}div.tilkynning-card button,div.tilkynning-card .date-holder-desktop{display:none}div.stud-card{height:5rem;width:100%;position:relative;background-color:#fff;border-radius:10px;padding:1rem 1.5rem .5rem 1.5rem;box-shadow:0px 5px 5px rgba(0,0,0,.05)}div.stud-card span{font-weight:bold;margin-bottom:.5rem}div.stud-card div p{margin-right:1rem}div.stud-card div img{height:2rem;width:2rem;border-radius:50%}div.alert-icon{position:absolute;width:1rem;height:1rem;background-color:#eb5757;border-radius:50%;right:0;top:1rem}div.date-pill,div.time-pill{position:absolute;height:auto;width:auto;border-radius:5px;background-color:#fff;padding:0 .5rem;top:1rem;right:1.5rem;box-shadow:0px 5px 5px rgba(0,0,0,.05)}div.date-pill p,div.time-pill p{font-weight:bold}div.time-pill{right:5rem}div.profile-img{height:2.5rem;width:2.5rem;position:absolute;right:1.5rem;bottom:.5rem;background-image:url("../img/jonni.png");border-radius:50%}div.addBtn{height:5rem;width:100%;justify-content:space-between;padding:0 1.5rem;background-color:#fff;border-radius:10px;margin:2rem 0;box-shadow:0px 5px 5px rgba(0,0,0,.1);cursor:pointer}div.addBtn p{font-weight:bold;color:#8f9299}div.addBtn div.addPlus{height:2.5rem;width:2.5rem;border-radius:50%;background-color:#337ab7}div.addBtn div.addPlus i{color:#fff}div.addModal-container{max-width:100vw;min-height:100vh;padding:0 1rem;background-color:#1f2533;opacity:.8}div.addModal-container div.addModal{background-color:#fff;border-radius:10px;padding:2rem 1.5rem;width:100%}div.addModal-container div.addModal select,div.addModal-container div.addModal textarea{height:3rem;width:100%;border-radius:5px;border:none;background-color:#f5f7fa;padding:0 1rem;margin:.5rem 0}div.addModal-container div.addModal textarea{height:9rem;padding:1rem}div.addModal-container div.addModal button.btn-success{align-self:flex-end;margin-right:0}div.card-container-desktop{position:relative;display:flex;align-items:flex-end;width:100%;background-color:transparent;margin:3.875rem 0 .5rem 0}div.card-container-desktop h3{font-size:24px;margin-right:32px}div.card-container-desktop div.card{position:relative;width:212px;height:232px;background-color:#fff;border-radius:10px;display:flex;flex-direction:column-reverse;align-items:flex-end;justify-content:space-around;padding:0 1.5rem .5rem 1.5rem;box-shadow:0px 5px 5px rgba(0,0,0,.05)}div.card-container-desktop div.profile-img{position:initial;width:78.3px;height:90.88px;margin-right:32px}div.card-container-desktop div.course-icon{position:absolute;top:-24px;right:8px;width:3rem;height:3rem;border-radius:50%;background-color:#fff;display:flex;align-items:center;justify-content:center;box-shadow:0px 5px 5px rgba(0,0,0,.05)}div.status-icon{position:absolute;top:0;display:flex;align-items:center;justify-content:center;right:-0.3rem;height:3rem}div.date-holder-mobile{position:absolute;top:-8px;right:1.2rem;height:24px;width:75px;display:flex;align-items:center;justify-content:center;background:#fff;box-shadow:0px 5px 5px rgba(0,0,0,.05);border-radius:5px}div.interview-heads-left p{width:17vw !important}div.interview-heads-right div.kennari{width:14vw !important}div.interview-heads-right button{margin:0 0 0 auto !important}div.bidlisti-headings div.heads-left p{width:18vw}div.bidlisti-headings div.heads-left span{width:27vw}div.bidlisti-headings div.heads-right{width:100%}div.bidlisti-headings div.heads-right p,div.bidlisti-headings div.heads-right span{width:16vw}div.waiting-heads-left img{width:1.5rem;height:1.5rem;border-radius:50%;margin-right:2rem}div.waiting-heads-left div.course{width:18vw !important}div.waiting-heads-left p{width:27vw !important}div.waiting-heads-right div.kennari{width:16vw !important}div.waiting-heads-right span{width:10vw !important}.mCard{display:none !important}@media(max-width: 900px){.mCard{display:flex !important}}.dCard{display:flex !important}@media(max-width: 900px){.dCard{display:none !important}}body .container{width:80%;margin:0 auto}body .container h1{font-family:SanFranReg;font-size:2.5rem;margin:4rem 0}body .container .logo{height:100%;width:100%;margin:0 1.5rem}body .container .logo .logo-1{background-image:url("../img/Tskoli-logo.svg");background-repeat:no-repeat;height:130px;width:79px;height:130px;width:79px;background-image:url("../img/Tskoli-logo.svg");background-repeat:no-repeat}body .container .logo .logo-2{height:83px;width:217px;background-image:url("../img/Vefskoli-logo.svg");background-repeat:no-repeat}body .container .logo .logo-3{height:130px;width:79px;background-image:url("../img/tskoli-logo-dark.svg");background-repeat:no-repeat}body .container .colors{font-family:SanFranReg;font-size:1.3rem}body .container .colors .flex{margin:0 .5rem}body .container .colors .flex .white{height:120px;width:120px;margin:.5rem 0;background-color:#fff;box-shadow:1px 1px 7px #d3d3d3}body .container .colors .flex .lightGrey{height:120px;width:120px;margin:.5rem 0;background-color:#f5f7fa;box-shadow:1px 1px 7px #d3d3d3}body .container .colors .flex .gray{height:120px;width:120px;margin:.5rem 0;background-color:#8f9299;box-shadow:1px 1px 7px #d3d3d3}body .container .colors .flex .lightBlue{height:120px;width:120px;margin:.5rem 0;background-color:#337ab7;box-shadow:1px 1px 7px #d3d3d3}body .container .colors .flex .darkBlue{height:120px;width:120px;margin:.5rem 0;background-color:#1f2533;box-shadow:1px 1px 7px #d3d3d3}body .container .colors .flex .navyBlue{height:120px;width:120px;margin:.5rem 0;background-color:#344762;box-shadow:1px 1px 7px #d3d3d3}body .container .colors .flex .neonOrange{height:120px;width:120px;margin:.5rem 0;background-color:#ff623f;box-shadow:1px 1px 7px #d3d3d3}body .container .type{margin:0 0 5rem 0}body .container .type h2{font-family:SanFranReg;font-size:1.9rem;margin:2.2rem 0}body .container .type .type-1 :nth-child(1){font-family:SanFranReg;font-size:2rem}body .container .type .type-1 :nth-child(2){font-family:SanFranMed;font-size:2rem}body .container .type .type-1 :nth-child(3){font-family:SanFranBold;font-size:2rem}body .container .type .type-2 :nth-child(1){font-family:SanFranReg;font-size:1.5rem}body .container .type .type-2 :nth-child(2){font-family:SanFranMed;font-size:1.5rem}body .container .type .type-2 :nth-child(3){font-family:SanFranBold;font-size:1.5rem}body .container .type .type-3 :nth-child(1){font-family:SanFranReg;font-size:1rem}body .container .type .type-3 :nth-child(2){font-family:SanFranMed;font-size:1rem}body .container .type .type-3 :nth-child(3){font-family:SanFranBold;font-size:1rem}body .container .type .type-4 :nth-child(1){font-family:SanFranReg;font-size:.875rem}body .container .type .type-4 :nth-child(2){font-family:SanFranMed;font-size:.875rem}body .container .type .type-4 :nth-child(3){font-family:SanFranBold;font-size:.875rem}@media(max-width: 1200px){.type-1,.type-2,.type-3,.type-4{flex-direction:column}}main.signup-main-container{position:relative;overflow:hidden;background-color:#fff}main.signup-main-container svg{position:absolute;margin:2.5rem 0 0 3.5rem}section.background-container{height:100vh;width:100vw;display:flex}section.background-container div.bg-left{height:100%;width:40vw;background-color:#fff}section.background-container div.bg-right{height:100%;width:60vw;background-color:aqua}section.background-container div.bg-right::after{content:"";position:absolute;top:0;right:0;height:100vh;width:60%;background-color:rgba(255,255,255,.6);z-index:2}section.background-container div.bg-right img{height:100vh;width:100%;object-fit:cover}div.front-container{height:100vh;width:42vw;background-color:transparent;position:absolute;z-index:12}div.signup-form-container{margin:auto 0 auto auto;width:80%}div.signup-form-container div.progress-container{margin:0 auto 3.25rem 0}div.signup-form-container div.progress-container div.progress-bar{height:2px;width:27px;background-color:#8f9299;margin-left:.5rem}div.signup-form-container div.progress-container div.bar1{background-color:#6fcf97}div.signup-form-container div.Input-Container{width:100%;margin:1rem 0 1.5rem auto}div.signup-form-container .signup-message{font-size:1.2rem}div.progress-title{display:flex;margin-bottom:2rem;align-items:center}div.progress-title i{margin-right:1.5rem}@media(max-width: 900px){div.progress-title i{display:none}}i.back-btn-m{display:none}@media(max-width: 900px){i.back-btn-m{display:block}}@media(max-width: 900px){div.bg-right,div.bg-left{display:none}div.front-container{width:100%}}@media(max-width: 900px)and (max-width: 900px){div.front-container{padding:0 1rem}}@media(max-width: 900px){div.signup-form-container{align-items:flex-start;margin:auto 0;width:100%;max-width:21.5rem}}@media(max-width: 900px)and (max-width: 900px){div.signup-form-container{max-width:100%}}@media(max-width: 900px){div.signup-form-container div.progress-container,div.signup-form-container div.Input-Container{margin-left:0}}@media(max-width: 900px){div.signup-form-container div.progress-title{padding-left:0}}@media(max-width: 900px){div.signup-form-container div.Input-Container{width:100%}}.progress-bar-1{background-color:#6fcf97 !important}.input-btn{cursor:pointer}form#signup{width:100%}section.notification-container{display:flex;flex-direction:column}section.notification-container button{margin:auto 0 4rem auto;flex-shrink:0}div#notif-content-holder{margin-top:1rem}.tilkynningar-headings{display:flex;align-items:center;font-size:1rem;margin:2rem 0 1.5rem 0;padding-left:2.5rem}.tilkynningar-headings p{width:14vw}.tilkynningar-headings span{width:38vw}div#content-holder{display:flex;flex-direction:column}div#content-holder button{margin-left:auto}div.notification-dtop-container{display:flex;align-items:center;justify-content:space-between;margin-bottom:1rem;padding:0 2.5rem}div.notification-dtop-container div.alert-icon{top:-9px;right:-7px}div.left-stuff,div.right-stuff{display:flex;align-items:center;width:100%}div.left-stuff span{width:14vw}div.left-stuff p{width:38vw}div.right-stuff img{height:2rem;width:2rem;border-radius:50%;margin-right:10px}div.right-stuff div{display:flex;align-items:center;margin-right:auto}div.right-stuff button{height:2rem;width:5.5rem;margin:0 0 0 auto !important}.efni-headings{display:flex;align-items:center;justify-content:space-between;font-size:1rem;margin:2rem 0 1.5rem 0;padding-left:2.5rem;overflow:hidden}div#content-holder{display:flex;flex-direction:column}div#content-holder button{margin-left:auto}div.heads-left{display:flex;align-items:center}div.heads-left p{width:13vw}div.heads-left div.course{display:flex;align-items:center}div.heads-left div.course img{height:3rem;width:auto;margin-right:1rem}div.heads-left span{width:18vw}div.heads-right{display:flex;align-items:center}div.heads-right p{width:13vw}div.heads-right span{font-size:1rem;width:23vw}div.notification-dtop-container div.heads-left span{width:10vw}div.notification-dtop-container div.heads-left div.course{width:16vw}div.notification-dtop-container div.heads-left p{width:18vw}div.notification-dtop-container div.heads-right{width:100%}div.notification-dtop-container div.heads-right div.kennari{display:flex;align-items:center;width:13vw}div.notification-dtop-container div.heads-right img{height:2rem;width:2rem;border-radius:50%;margin-right:10px}div.notification-dtop-container div.heads-right svg{height:2rem;width:2rem}div.notification-dtop-container div.heads-right button{height:2rem;width:5.5rem;margin:0 auto !important}div.notification-dtop-container div.heads-right p{width:10vw}div.notification-dtop-container div.heads-right span{width:13vw}/*# sourceMappingURL=app.css.map */
>>>>>>> d7c3d1b69639dcb253451f5b635eb3b91a89b56b
