// Mixin fyrir allar media queries

@mixin respond($breakpoint) {
  @if $breakpoint == phoneMaxWidth {
    @media (max-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == phoneMinWidth {
    @media (min-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media (max-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == xs-desktop {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == small-desktop {
    @media (max-width: 1600px) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

// Mixin height & width

@mixin height-width ($height, $width) {
  height: $height;
  width: $width;
}

// Mixin font-family & font-size

@mixin font-type-size($type, $size){
  font-family: $type;
  font-size: $size;
}

// Mixin position-top-left

@mixin position-top-left($position, $top, $left){
  position: $position;
  top: $top;
  left: $left;
}

// Mixin position-top-right

@mixin position-top-right($position, $top, $right){
  position: $position;
  top: $top;
  right: $right;
}

// Mixin - Styleguide 

// Colors

@mixin margin-bckGrndColor-boxShdw ($margin, $bckGrndColor, $boxShdw){
  margin: $margin;
  background-color: $bckGrndColor;
  box-shadow: $boxShdw;
}

// Background-image/background-repeat

@mixin bckgrndImg-bckgrnd-Repeat ($bckgrndImg){
  background-image: $bckgrndImg;
  background-repeat: no-repeat;
}

