//// Flex-placeholders ////

%flex-space-evenly {
  display: flex;
  justify-content: space-evenly;
}

%flex-space-between {
  display: flex;
  justify-content: space-between;
}

%flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-center {
  display: flex;
  align-items: center;
}

%flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

%flex-end {
  display: flex;
  justify-content: flex-end;
}
%flex-column {
  display: flex;
  flex-direction: column;
}

//// Component-placeholders ////

%user-div {
  border-radius: 50%;
  background-color: pink;
}

%btn-primarySuccess-border-margin {
  border-radius: 5px;
  border: none;
  margin: 0.5rem;
}
