$color-primary: #337AB7;
$color-success: #6FCF97;
$color-font: #344762;
$color-muted: #8F9299;
$color-bg: #F5F7FA;
$color-light: #FFFFFF;
$color-lightGrey: #F2F2F2;
$color-dark-bg: #1F2533;
$color-danger: #EB5757;
$color-orange: #FF623F;
$color-lgtBlue: #56CCF2;
$color-jello: #F2994A;
$color-imBlue: #9B51E0;
$color-purple: #bb6bd9;


