.active-state-holder {
  @include position-top-left(absolute, 45%, 7.5%);
  display: flex;

  .active-state {
    @include height-width(2px, 27px);
    background-color: $color-muted;
    margin: 0 0.5rem;
    &-1 {
      background-color: $color-success;
    }
  }
}
