// sass partial skrá fyrir alla buttons sem eru endurnotanlegir

//button sem er á form input fieldinum t.d á sign up forminu.

.input-btn {
  @include height-width(50px, 80px);
  @include font-type-size(sanFranReg, 2rem);
  background: $color-success;
  color: $color-light;
  text-align: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;

  .input-btn-container {
    text-align: center;
    padding-top: 1rem;
  }
}

.btn-success {
  @include height-width(3rem, 15rem);
  color: $color-light;  
  background-color: $color-success;
  border-radius: 5px;
  border: none;
  margin: .5rem;
  cursor: pointer;     
  @extend %btn-primarySuccess-border-margin;
}

.btn-primary {
  @include height-width(3rem, 15rem);
  color: $color-light;  
  background-color: $color-primary;
  border-radius: 5px;
  border: none;
  margin: .5rem;
  cursor: pointer;   
}

.btn-danger {
  width: 15rem;
  height: 3rem;
  color: #fff;
  background-color: $color-danger;
  border-radius: 5px;
  border: none;
  margin: .5rem;
  cursor: pointer;   
  @extend %btn-primarySuccess-border-margin;
}

.btn-action {
  background: $color-primary;
  border-radius: 5px;
  height: 2rem;
  width: 5.5rem;
  border: none;
  cursor: pointer;
  color: $color-light;
}

