body {
  background-color: $color-bg;
}

.efni-card {
  @extend %flex-center;
  background-color: $color-light;
  font-size: 1rem;
  margin: 1rem 1rem;
  text-align: left;
  height: 80px;
  border-radius: 10px;
  box-shadow: 0 0.1rem 0.1rem rgba(#444, 0.1);

  &__txt {
    margin: 0;
    width: 5%;
  }
}

.efni-headings {
  @extend %flex-center;
  font-size: 1rem;
  margin: 2rem 0;
  height: 80px;

  &__txt {
    margin: 0 4rem;
    width: 12.5%;
  }
}

.efni-seperator {
  width: 50px;
}

.efni-seperator-2 {
  width: 150px;
}

.margin-lr-small {
  margin-right: 3rem;
  margin-left: 1rem;
}
