#signup {

  .input-holder {
    @include height-width(65px, 100%);
  }

  input {
    @include height-width(100%, 100%);
    @include position-top-right(relative, 0, null);
    border-radius: 5px;
    border: none;
    background-color: $color-bg;
  }

  .btn-position {
    @include position-top-left(relative, -100%, 100%);
    height: 100%;
    transform: translateX(-50%);
  }
  .signup-message {
    @include position-top-left(absolute, null, 50%);
  }
}
