div.modal {
  //Þetta er filman fyrir aftan
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba($color-dark-bg, 0.8);
  top: 0;
  left: 0;
  z-index: 100;
  display: none;


  @include respond(phone) {
    button.modal-btn-m {
      max-width: 10.5rem;
    }
  }
}

//bara fyrir modal edit og delete fítus
div.modal-content-container {
  width: auto;
  height: auto;
}

div.edit-btn-container {
  display: flex;
  justify-content: flex-end;

  button.edit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin: 12px 0 12px 12px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
    border: none;
    cursor: pointer;

    svg {
      color: $color-muted;
      width: 1rem;
      height: 1rem;
    }
  }
}

//message modal
div.message-modal {
  max-width: 35.5rem;
  h3,
  div.modal-btn-container {
    margin: 0 auto;
  }
  p {
    text-align: center;
    padding: 0rem 9rem;
  }
  button {
    margin: 0.5rem auto;
  }
}
@include respond(tablet) {
  p {
    padding: 0 !important;
  }
}

div.modal-btn-container {
  display: flex;

  button {
    margin: 0.5rem !important;
  }
  @include respond(tablet) {
    button {
      width: 8rem;
    }
  }
}

//Lesa tilkynningu modal
div.modal-text-container {
  max-width: 100%;

  div.link-container {
    padding: 12px 0;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 0.75rem;

    a {
      text-decoration: none;
    }
  }
}

//Dót sem ég tók úr _content-form.scss og færði bara hingað
.form-group {
  position: relative;
  margin: 1rem 0;

  select {
    @include height-width(3rem, 60%);
    text-align: left;
    border: none;
    background-color: $color-bg;
    border-radius: 5px;
    color: $color-muted;
    padding-left: 1.5rem;
  }

  label {
    display: none !important;
  }

  input {
    @include height-width(3rem, 100%);
    border: none;
    background-color: $color-bg;
    border-radius: 5px;
    color: $color-muted;
  }

  textarea {
    @include height-width(10rem, 100%);
    border: none;
    background-color: $color-bg;
    border-radius: 5px;
    color: $color-muted;
    resize: none;
    padding-top: 10px;
    font-family: 'SanFranReg';
    font-size: 1rem;
  }
}

.form-btn {
  flex-shrink: 0;
  margin: 0 0 0 auto;
}

.img-and-text {
  @extend %flex-center;
  width: 20%;
  margin: 0 4rem;

  .efni-card-img {
    height: 50px;
  }

  .efni-card__txt {
    margin: 1rem;
    width: 100%;
  }
}
// SIMPLEBAR

.simplebar-scrollbar {
  margin-bottom: 16px;
}
.simplebar-track {
  margin-top: 4px;
}
.modal-hidden {
  display: none;
}

.eydaModal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(31, 37, 51, 0.8);
  top: 0;
  left: 0;
  z-index: 102;
}

div.modal-content {

  background-color: #fff;
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  width: 45vw !important;
  min-width: 21.5rem;
  height: auto;
  max-height: 75vh;
  border-radius: 10px;
  flex-direction: column;
  padding: 2rem 1.5rem;

  form {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    // button {
    //   margin-left: auto;
    // }
  }

  .modal-heading {
    font-size: 1.5rem;
    line-height: 34px;
  }

  .close-modal {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: $color-muted;
    cursor: pointer;
  }

  input,
  textarea {
    width: 100%;
    height: 3rem;
    border-radius: 5px;
    border: none;
    background-color: $color-bg;
    padding: 0 1.5rem;
    margin: 0.5rem 0;
  }

  textarea {
    height: 9rem;
    padding: 1rem;
  }
}
