//// Font-types ////

@font-face {
  font-family: "SanFranReg";
  src: url("../font/SF\ Compact/SF-Compact-Display-Regular.otf");
}

@font-face {
  font-family: "SanFranMed";
  src: url("../font/SF\ Compact/SF-Compact-Text-Medium.otf");
}

@font-face {
    font-family: "SanFranBold";
    src: url("../font/SF\ Compact/SF-Compact-Display-Bold.otf");
}
body {
  font-family: "SanFranReg", sans-serif;
  font-weight: 400;
  src: url("../font/SF\ Compact/SF-Compact-Display-Bold.otf");
  color: $color-font;
  background-color: $color-bg; 

  h2 {
    font-size: 2rem; 
    line-height: 45px;  
  }
  h3 {
    font-size: 1.5rem; 
    line-height: 34px; 
  }
  p {
    font-size: 1rem; 
    line-height: 1.5rem;  
  }
}

//// addcontent.html ////

.efni-heading {
  font-size: 2rem;
  display: flex;
  margin: 4rem 1.5rem;
}
