.efni-headings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  margin: 2rem 0 1.5rem 0;
  padding-left: 2.5rem;
  overflow: hidden;
}

div#content-holder {
  display: flex;
  flex-direction: column;

  button {
    margin-left: auto;
  }
}

div.heads-left {
  display: flex;
  align-items: center;

  p {
    width: 13vw;
  }
  div.course {
    display: flex;
    align-items: center;
    img {
      height: 3rem;
      width: auto;
      margin-right: 1rem;
    }
  }
  span {
    width: 18vw;
  }
}
div.heads-right {
  display: flex;
  align-items: center;

  p {
    width: 13vw;
  }
  span {
    font-size: 1rem;
    width: 23vw;
  }
}

div.notification-dtop-container {
  div.heads-left {
    span {
      width: 10vw;
    }
    div.course {
      width: 16vw;
    }
    p {
      width: 18vw;
    }
  }
  div.heads-right {
    width: 100%;

    div.kennari {
      display: flex;
      align-items: center;
      width: 13vw;
    }

    img {
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      margin-right: 10px;
    }
    svg {
      height: 2rem;
      width: 2rem;
    }
    button {
      @include height-width(2rem, 5.5rem);
      margin: 0 auto !important;
    }
    p {
      width: 10vw;
    }
    span {
      width: 13vw;
    }
  }
}
