main.login {
  @include height-width(100vh, 100vw);
  @extend %flex-column;
  background-color: #fff;

  img {
    margin-bottom: 1.5rem;
  }

  h3 {
    margin-bottom: 3rem; 
  }

  .loginContainer {
    @extend %flex-column;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 21.5rem;

    input.input-field {
      @include height-width(3rem, 100%);
      background-color: $color-bg;
      margin: 0.5rem 0;
      border: none;
      border-radius: 5px;
      padding-left: 1rem;
    }

    a {
      text-decoration: none;
      color: $color-muted;
      align-self: flex-end;
      margin-bottom: 2rem;
    }
    button {
      margin: .5rem !important;
    }
  }
}
