section.notification-container {
    display: flex;
    flex-direction: column;

    button {
        margin: auto 0 4rem auto; 
        flex-shrink: 0;  
    }
}

div#notif-content-holder {
    margin-top: 1rem; 
}
  
.tilkynningar-headings {
    display: flex; 
    align-items: center; 
    font-size: 1rem;
    margin: 2rem 0 1.5rem 0;
    padding-left: 2.5rem; 

    p {
        width: 14vw; 
    }
    span {
        width: 38vw;    
    }
}

div#content-holder {
    display: flex; 
    flex-direction: column; 

    button {
        margin-left: auto; 
    }
}

div.notification-dtop-container {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 0 2.5rem; 
    
    div.alert-icon {
        top: -9px;
        right: -7px; 
    }
}
div.left-stuff, 
div.right-stuff {
    display: flex;
    align-items: center;
    width: 100%; 
}

div.left-stuff {

    span {
        width: 14vw;
    }
    p {
        width: 38vw;
    }
}
div.right-stuff {
    img {
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        margin-right: 10px; 
    }
    div {
        display: flex; 
        align-items: center;
        margin-right: auto;  
    }
    button {
        @include height-width(2rem, 5.5rem);
        margin: 0 0 0 auto !important; 
    }
}
