main.main-container {
  display: flex; 
  @include height-width(100vh, 100vw);
  @extend %flex-column;
  padding: 1rem;
  background-color: #fff;

  svg {
    position: absolute;
    margin: 1.5rem 0 0 2.5rem;
  }

  div.main-container {
    @extend %flex-column;
    margin: auto;
    width: 100%;
    max-width: 21.5rem;

    div.progress-title {
      padding: 0;
      margin-bottom: 0;
      a {
        color: $color-muted;
      }  
    }
  }
}

//input m. takk inni

div.Input-Container {
  @include height-width(5rem, 100%);
  display: flex;
  margin: 1rem 0 1.5rem;

  input.input-field {
    background-color: $color-bg;
    height: 100%;
    border: none;
    border-radius: 5px;
    flex-grow: 1;
    padding-left: 1rem;
  }
  .input-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    @include height-width(100%, 20%);
    border: none;
    flex-shrink: 0;
  }

}

//Bara fyrir linkSent.html

div.link-sent {
  align-items: center; 
  justify-content: center;
  
  h3 {
    margin-bottom: 2rem !important; 
  }
}


