main.signup-main-container {
  position: relative;
  overflow: hidden;
  background-color: #fff;

  svg {
    position: absolute;
    margin: 2.5rem 0 0 3.5rem;
  }
}

section.background-container {
  @include height-width(100vh, 100vw);
  display: flex;

  div.bg-left {
    @include height-width(100%, 40vw);
    background-color: $color-light;
  }

  div.bg-right {
    @include height-width(100%, 60vw);
    background-color: cyan;

    &::after {
      content: '';
      @include position-top-right(absolute, 0, 0);
      @include height-width(100vh, 60%);
      background-color: rgba($color-light, 0.6);
      z-index: 2;
    }

    img {
      @include height-width(100vh, 100%);
      object-fit: cover;
    }
  }
}

div.front-container {
  @include height-width(100vh, 42vw);
  @extend %flex-column;
  background-color: transparent;
  position: absolute;
  z-index: 12;
}

div.signup-form-container {
  @extend %flex-column;
  margin: auto 0 auto auto;
  width: 80%;

  div.progress-container {
    @extend %flex-center;
    margin: 0 auto 3.25rem 0;

    div.progress-bar {
      @include height-width(2px, 27px);
      background-color: $color-muted;
      margin-left: 0.5rem;
    }
    div.bar1 {
      background-color: $color-success;
    }
  }
  div.Input-Container {
    width: 100%;
    margin: 1rem 0 1.5rem auto;
  }

  .signup-message {
    font-size: 1.2rem;
  }
}

div.progress-title {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;

  i {
    margin-right: 1.5rem;

    @include respond(tablet) {
      display: none; 
    }
  }
}
i.back-btn-m {
  display: none;

  @include respond(tablet) {
    display: block;  
  }
}

@include respond(tablet) {
  div.bg-right,
  div.bg-left {
    display: none;
  }

  div.front-container {
    width: 100%;

    @include respond(tablet) {
      padding: 0 1rem; 
    }
  }
  div.signup-form-container {
    // @extend %flex-column;
    align-items: flex-start;
    margin: auto 0;
    width: 100%;
    max-width: 21.5rem;

    @include respond(tablet) {
      max-width: 100%; 
    }

    div.progress-container,
    div.Input-Container {
      margin-left: 0;
    }
    div.progress-title {
      padding-left: 0;
    }
    div.Input-Container {
      width: 100%;
    }
  }
}
.progress-bar-1 {
  background-color: $color-success !important;
}
.input-btn {
  cursor: pointer;
}

form#signup {
  width: 100%;
}
