body {
  .container {
    width: 80%;
    margin: 0 auto;

    h1 {
      @include font-type-size(SanFranReg, 2.5rem);
      margin: 4rem 0;
    }

    .logo {
      @extend %flex-space-between;
      @include height-width(100%, 100%);
      @extend %flex-wrap;
      margin: 0 1.5rem;

      .logo-1 {
        background-image: url("../img/Tskoli-logo.svg");
        background-repeat: no-repeat;
        height: 130px;
        width: 79px;

        @include height-width(130px, 79px);
        @include bckgrndImg-bckgrnd-Repeat(url("../img/Tskoli-logo.svg"));
      }

      .logo-2 {
        @include height-width(83px, 217px);
        @include bckgrndImg-bckgrnd-Repeat(url("../img/Vefskoli-logo.svg"));
      }

      .logo-3 {
        @include height-width(130px, 79px);
        @include bckgrndImg-bckgrnd-Repeat(url("../img/tskoli-logo-dark.svg"));
      }
    }

    .colors {
      @extend %flex-space-evenly;
      @include font-type-size(SanFranReg, 1.3rem);
      @extend %flex-wrap;

      .flex {
        @extend %flex-column;
        margin: 0 0.5rem;

        .white {
          @include height-width(120px, 120px);
          margin: 0.5rem 0;
          background-color: $color-light;
          box-shadow: 1px 1px 7px lightgrey;
        }

        .lightGrey {
          @include height-width(120px, 120px);
          margin: 0.5rem 0;
          background-color: $color-bg;
          box-shadow: 1px 1px 7px lightgrey;
        }
        .gray {
          @include height-width(120px, 120px);
          margin: 0.5rem 0;
          background-color: $color-muted;
          box-shadow: 1px 1px 7px lightgrey;
        }

        .lightBlue {
          @include height-width(120px, 120px);
          margin: 0.5rem 0;
          background-color: $color-primary;
          box-shadow: 1px 1px 7px lightgrey;
        }

        .darkBlue {
          @include height-width(120px, 120px);
          margin: 0.5rem 0;
          background-color: $color-dark-bg;
          box-shadow: 1px 1px 7px lightgrey;
        }

        .navyBlue {
          @include height-width(120px, 120px);
          margin: 0.5rem 0;
          background-color: $color-font;
          box-shadow: 1px 1px 7px lightgrey;
        }

        .neonOrange {
          @include height-width(120px, 120px);
          margin: 0.5rem 0;
          background-color: $color-orange;
          box-shadow: 1px 1px 7px lightgrey;
        }
      }
    }

    .type {
      margin: 0 0 5rem 0;

      h2 {
        @include font-type-size(SanFranReg, 1.9rem);
        margin: 2.2rem 0;
      }
      .type-1 {
        @extend %flex-space-evenly;

        & :nth-child(1) {
          @include font-type-size(SanFranReg, 2rem);
        }
        & :nth-child(2) {
          @include font-type-size(SanFranMed, 2rem);
        }
        & :nth-child(3) {
          @include font-type-size(SanFranBold, 2rem);
        }
      }

      .type-2 {
        @extend %flex-space-evenly;

        & :nth-child(1) {
          @include font-type-size(SanFranReg, 1.5rem);
        }
        & :nth-child(2) {
          @include font-type-size(SanFranMed, 1.5rem);
        }
        & :nth-child(3) {
          @include font-type-size(SanFranBold, 1.5rem);
        }
      }

      .type-3 {
        @extend %flex-space-evenly;

        & :nth-child(1) {
          @include font-type-size(SanFranReg, 1rem);
        }
        & :nth-child(2) {
          @include font-type-size(SanFranMed, 1rem);
        }
        & :nth-child(3) {
          @include font-type-size(SanFranBold, 1rem);
        }
      }

      .type-4 {
        @extend %flex-space-evenly;

        & :nth-child(1) {
          @include font-type-size(SanFranReg, 0.875rem);
        }
        & :nth-child(2) {
          @include font-type-size(SanFranMed, 0.875rem);
        }
        & :nth-child(3) {
          @include font-type-size(SanFranBold, 0.875rem);
        }
      }
    }
  }
}

// @Media queries

@include respond(xs-desktop) {
  .type-1,
  .type-2,
  .type-3,
  .type-4 {
    flex-direction: column;
  }
}
