main.ui-container {
  min-height: 100vh;
  padding: 2rem 1rem 0 1rem;
  background-color: $color-bg;
  max-width: 100vw; 
}

div.header-container {
  @extend %flex-center;
  margin-bottom: 0.5rem;

  h2.timer {
    margin-left: auto; 
  }
}

//Element fyrir icons fyrir síður - viðtöl, biðlista o.s.frv. inní header

div.id-icon {
  @include height-width(2.5rem, 2.5rem);
  @extend %flex-center;
  justify-content: center;
  // background-color: lighten($color-primary, 20%);
  border-radius: 50%;
  margin-right: 0.5rem;

  // i {
  //   font-size: 1.5rem;
  //   color: $color-primary;
  // }
}

//Card fyrir kennara

div.card-container {
  @include height-width(6.5rem, 100%);
  position: relative;
  display: flex;
  align-items: flex-end;
  background-color: transparent;
  margin-bottom: 0.5rem;

  div.course-icon {
    @include height-width(3rem, 3rem);
    @include position-top-right(absolute, 0, 1.5rem);
    @extend %flex-center-center;
    border-radius: 50%;
    background-color: $color-light;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
  }
}

div.card {
  @include height-width(5rem, 100%);
  position: relative;
  background-color: $color-light;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  padding: 0 1.5rem 0.5rem 1.5rem;
  transition: ease-in-out 0.5s;

  &:hover {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
    font-weight: bold;
    
  }
  .close-btn {
    @extend %flex-center-center;
    @include height-width(32px, 32px);
    position: absolute;
    right: -15px;
    top: -16px;
    border-radius: 50%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
    background-color: $color-light;
  }
}

//card fyrir nemendur
div.profile {
  img {
    border-radius: 50%;
    margin-right: 40px;
  }
}
div.tilkynning-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include height-width(5rem, 100%);
  @extend %flex-column;
  position: relative;
  background-color: $color-light;
  border-radius: 10px;
  padding: 1rem 1.5rem 0.5rem 1.5rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
  span {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  div {
    @extend %flex-center;

    p {
      margin-right: 1rem;
    }
    img {
      @include height-width(2.5rem, 2.5rem);
      border-radius: 50%;
    }
  }
  button, .date-holder-desktop {
    display: none;
  }
}
div.stud-card {
  @include height-width(5rem, 100%);
  @extend %flex-column;
  position: relative;
  background-color: $color-light;
  border-radius: 10px;
  padding: 1rem 1.5rem 0.5rem 1.5rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);

  span {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  div {
    @extend %flex-center;

    p {
      margin-right: 1rem;
    }
    img {
      @include height-width(2rem, 2rem);
      border-radius: 50%;
    }
  }
}

div.alert-icon {
  position: absolute; 
  width: 1rem; 
  height: 1rem; 
  background-color: $color-danger;
  border-radius: 50%;
  right: 0; 
  top: 1rem;   
}
div.date-pill,
div.time-pill {
  position: absolute;
  height: auto; 
  width: auto;
  border-radius: 5px;
  background-color: #fff;
  padding: 0 0.5rem; 
  top: 1rem; 
  right: 1.5rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
  p {
    font-weight: bold; 
  }   
}

//einungis till þess að fá eina pillu til þess að fara lengra til vinstri... :) 
div.time-pill {
  right: 5rem; 
}

//Profile image element bubble

div.profile-img {
  @include height-width(2.5rem, 2.5rem);
  @include position-top-right(absolute, null, 1.5rem);
  bottom: 0.5rem;
  background-image: url("../img/jonni.png");
  border-radius: 50%;
}

//Add button element

div.addBtn {
  @include height-width(5rem, 100%);
  @extend %flex-center;
  justify-content: space-between;
  padding: 0 1.5rem;
  background-color: $color-light;
  border-radius: 10px;
  margin: 2rem 0;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  p {
    font-weight: bold;
    color: $color-muted;
  }

  div.addPlus {
    @include height-width(2.5rem, 2.5rem);
    @extend %flex-center-center;
    border-radius: 50%;
    background-color: $color-primary;

    i {
      color: $color-light;
    }
  }
}


//bæta í biðlista modal
div.addModal-container {
  @extend %flex-center-center;
  max-width: 100vw;
  min-height: 100vh;
  padding: 0 1rem;
  background-color: $color-dark-bg;
  opacity: 0.8;

  div.addModal {
    @extend %flex-column;
    background-color: $color-light;
    border-radius: 10px;
    padding: 2rem 1.5rem;
    width: 100%;

    select,
    textarea {
      @include height-width(3rem, 100%);
      border-radius: 5px;
      border: none;
      background-color: $color-bg;
      padding: 0 1rem;
      margin: 0.5rem 0;
    }

    textarea {
      height: 9rem;
      padding: 1rem;
    }

    button.btn-success {
      align-self: flex-end;
      margin-right: 0; 
    }
  }
}


// Nemendur bidlista cards deskt

div.card-container-desktop {
  position: relative;
  display: flex; 
  align-items: flex-end;  
  width: 100%; 
  background-color: transparent;
  margin: 3.875rem 0 0.5rem 0;

  h3 {
      font-size: 24px; 
      margin-right: 32px;
  }

  div.card {
      position: relative; 
      width: 212px; 
      height: 232px;
      background-color: #fff; 
      border-radius: 10px; 
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-end;
      justify-content: space-around;
      padding: 0 1.5rem 0.5rem 1.5rem;
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05); 
  }
  div.profile-img {
      position: initial;
      width: 78.3px;
      height: 90.88px;
      margin-right: 32px;
  }

  div.course-icon {
      position: absolute;
      top: -24px;
      right: 8px; 
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: #fff;  
      display: flex; 
      align-items: center; 
      justify-content: center;
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);    
  }
}

// Tilkynningar

div.status-icon {
  position: absolute;
      top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -0.3rem;
  height: 3rem;
}
div.date-holder-mobile {
  position: absolute;
  top: -8px;
  right: 1.2rem;
  height: 24px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
  border-radius: 5px;  
}

//Viðtals spjöld

div.interview-heads-left {
  p {
    width: 17vw !important; 
  }
}
div.interview-heads-right {
  div.kennari {
    width: 14vw !important;
  }
  button {
    margin: 0 0 0 auto !important; 
  }
}

//Biðlisti - Kennarar

div.bidlisti-headings {
  div.heads-left {
    p {
      width: 18vw;  
    }
    span {
      width: 27vw; 
    }
  }
  div.heads-right {
    width: 100%; 
    p, 
    span {
      width: 16vw; 
    }
  }
}
div.waiting-heads-left {
  img {
    width: 1.5rem; 
    height: 1.5rem;
    border-radius: 50%;
    margin-right: 2rem;  
  }
  div.course {
    width: 18vw !important;
  }
  p {
    width: 27vw !important;
  }
  
}

div.waiting-heads-right {
  div.kennari{
    width: 16vw !important;
  }
  span {
    width: 10vw !important;
  } 
}

.mCard {
  display: none !important;
  
  @include respond(tablet) {
    display: flex !important; 
  }
}

.dCard {
  display: flex !important;
  
  @include respond(tablet) {
    display: none !important; 
  }
}

