// Mobile nav-bar open/close (mobile-nav.html)

div.wrapper-mobile {
  // margin: calc(100vh - 50px) 0 0 0;

  // Nested @media queries 600px

  @include respond (phoneMinWidth) {
    display:none;
  }

  @include respond (phoneMaxWidth) {
    display: block;
    position: fixed; 
    bottom: 0; 
    width: 100%;    
  }

  //////////

    nav.mobile-nav {
        @extend %flex-space-between;
        align-items: center;
        padding: 1.5rem;
        width: 100%;
        height: 50px;
        background-color: $color-font;

        div.burger-mobile {
          @extend %flex-center-center;
          @include height-width(70px, 70px);
          border-radius: 50%;
          background-color: $color-bg;
          margin: -3.8rem 0 0 0;
        }
        // div.burger-close {
        //   @extend %flex-center-center;
        //   @include height-width(70px, 70px);
        //   border-radius: 50%;
        //   background-color: $color-light;
        //   margin: -3.8rem 0 0 0;
        // }
      
        div.burger-close {
          @extend %flex-center-center;
          @include height-width(70px, 70px);
          border-radius: 50%;
          background-color: $color-bg;
          margin: 0 0 3rem;
        }
      }
    }
    
    
  

  // Desktop side-nav + side-nav-open (sideNav&searchBarDp.html)

  div.wrapper-nav {
    @extend %flex-space-between;

    // Nested @media queries 600px

    @include respond (phoneMaxWidth) {
      display: none;   
    }

    /////////////////

        div.search-bar {
        @include height-width(72px, 100%);
        @include font-type-size(SanFranMed, 1rem);
        @extend %flex-center;
        position: fixed;
        background-color: $color-light;
        padding: 2rem;
        color: $color-muted;
        box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.05);
        z-index: 88; 
        

        label.icon-holder {
            display: flex;

            svg {
            margin: 0 1rem 0 0;
            
            }
        }
        
        input#searchInput {
            border: none;
            font-size: 1rem;
            height: 32px;
            width: 100%; 
        }
    }
    
    nav.side-nav {
      @include height-width(100vh, 72px);
      @extend %flex-space-between;
      flex-direction: column;
      background-color: $color-light;
      padding: 1.5rem 0;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
      position: fixed;
      z-index: 100;
      right: 0;

      &.side-nav-hidden {
        display: none;
      }

      a {
        text-decoration: none;
        color: $color-muted;
      }

      div.nav-box {
        @extend %flex-space-between;
        @include height-width(30rem, 72px);
        align-items: center;
        flex-direction: column;
      }

      div.logout-box {
        @extend %flex-center-center;
      }
    }

    div.wrapper-open-nav {
      @include font-type-size(SanFranMed, 1rem);
      @extend %flex-end;
      color: $color-font;
  
      svg {
        margin: 0 0.8rem 0 0;
      }
  
      &.open-nav-hidden {
        display: none;
      }
      
      nav.side-nav-open {
        background-color: $color-light;
        @include height-width(100vh, 212px);
        @extend %flex-space-between;
        flex-direction: column;
        padding: 1.5rem;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
        transition: -webkit-transform- 3s ease-in-out;
        transition: transform 3s ease-in-out;

        position: fixed;
        z-index: 106;
        right: 0;
      
        div.nav-box-open {
          @extend %flex-space-between;
          @include height-width(30rem, null);
          flex-direction: column;
  
          .home,
          .list,
          .users,
          .folder,
          .bell,
          .settings,
          .logout-box {
            @extend %flex-center;
          }
  
          div.user-close-nav {
            @extend %flex-space-between;
            align-items: center;
  
            div.user-emoji {
              @include height-width(44px, 44px);
              @extend %user-div;
            }
          }
        }
        div.logout-box {
          div.logout {
            @extend %flex-center;
          }
        }
      }
    }
  }
  
  #swipe-container {
    background-color: $color-bg;

  }
    .swipe {
        @include height-width(44px, 300px);   
        background-color: beige;
        margin: 1rem 0;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05); 
    }

  section.content {
    @include height-width(auto, 100%);
    background-color:$color-bg;
    padding: 7.5rem 6rem 0 2rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;

  @include respond(tablet) {
    padding: 2rem 1rem;
    
    .btn-primary {
      display: none; 
    }
  }

  .greeting {
    @extend %flex-center;
    margin: 0 0 2rem 0; 

    h1 {
      margin: 0 1.8rem 0 0;
      @include font-type-size(SanFranBold, 2rem);
      color: $color-font;
    }
    
    img.user-emoji {
      @include height-width(44px, 44px);
      @extend %user-div;
    }
  }

    .bidlisti-selected {
      @include height-width(80px, 95%);
      @extend %flex-space-between;
      position: relative;
      background-color: #FFFF;
      padding: 0 6.5rem 0 3.5rem;
      border-radius: 10px;
      transition: ease-in-out 0.5s;

      &:hover {
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
        font-weight: bold;
      }
    
      .flex-1, .flex-2 {
        @extend %flex-space-between;
        width: 50%;
        align-items: center;

        .flex-a {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 23%;
        }

        .flex-b {
          margin: 0 5rem;
        }
        
        .flex-c, .flex-d {
          @extend %flex-center;
          width: 25%;
        } 
      }

      .user-img {
        height: 41px;
        width: 41px;
        margin: 0 1rem 0 0;
        background-color: pink;
        border-radius: 50%;
      }
      .close-btn {
        @extend %flex-center-center;
        @include height-width(32px, 32px);
        position: absolute;
        right: -15px;
        top: -16px;
        border-radius: 50%;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
        background-color: $color-light;
      }
    }

    .vidtal-selected, .efnidags-selected {
      @extend %flex-space-between;
      @include height-width(80px, 95%);
      background-color: #FFFF;
      padding: 0 4.5rem 0 3.5rem;
      border-radius: 10px;
      transition: ease-in-out 0.5s;

      &:hover {
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
        font-weight: bold;
      }
    }
    .flex-1 {
      @extend %flex-space-between;
      align-items: center;
      width: 40%;

      .flex-b {
        margin: 0 3rem 0 0;
        @extend %flex-center;
        justify-content: space-evenly;
        width: 30%;
      }
    }
    .flex-2 {
      @extend %flex-center;
      width: 45%;
      justify-content: space-between;
      margin-right: -3rem;
      

      .flex-d {
        @extend %flex-center;
      }

      .user-img {
        @include height-width(41px, 41px);
        margin: 0 1rem 0 0;
        background-color: pink;
        border-radius: 50%;
      }
      .flex-g, button {
        @include height-width(2rem, 88px);
        background-color: $color-primary;
        color: $color-light;
        border-radius: 5px;
      }
    }

    .efnidags-selected {
  
      .flex-2 {
        width: 48%;
        padding: 0 1rem 0 0;
      }
    }

    .efnidags-active {
      @include height-width(301px, 95%);
      position: relative;
      display: flex;
      flex-direction: column;
      margin: 2rem 0 0 0;
      background-color: #FFFF;
      padding: 1.5rem 4.5rem 0 3.5rem;
      border-radius: 10px;
      transition: ease-in-out 0.5s;

      .flex-container {
        display: flex;
        justify-content: space-between;
      }

      .links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 118px;
        
        a {
          margin: 0 0 0.5rem 0;
        }
      }

      .line {
        @include height-width(1px, 93%);
        @include position-top-right(absolute, 87px, null);
        background-color: $color-lightGrey;
      }
    }
  }

    button {
      margin: auto 0 4rem auto !important;
      flex-shrink: 0 !important;
    }


  //==== Section Icons ====//
  .waiting-icon {
    background-color: lighten($color-lgtBlue, 20%);
    
    svg {
      color: $color-lgtBlue;
    }

  }
  .interview-icon {
    background-color: lighten($color-jello, 20%);
   
    svg {
      color: $color-jello;
    }
  }
  .content-icon {
    background-color: lighten($color-imBlue, 20%);
    
    svg {
      color: $color-imBlue;
    }

  }
  .notification-icon {
    background-color: lighten($color-danger, 20%);

    i,
    svg {
      color: $color-danger;
    }
  }

// Burger menu open Mobile

.burger-menu {
  font-family: "SanFranBold";
  background-color: $color-bg;
  width: 100%;
  color: $color-font;
  height: 100vh;
  overflow-y: hidden;
  
  .burger-container {
    // height: 100vh;

    a {
      text-decoration: none;
      color: $color-font;
    }
  }

  div.wrapper-mobile {
    margin: calc(14.9vh - 50px) 0 0 0;
  
    //////////
  
    div.burger-close {
      @extend %flex-center-center;
      @include height-width(70px, 70px);
      border-radius: 50%;
      background-color: $color-bg;
      margin: 0 0 3rem;
    }
      
  }
}

.burger-nav-list {
  
  display: flex;
  flex-direction: column;

  .burger-list {
    @extend %flex-center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 60px;

      .burger-icon {
          padding-right: 16px;
      }

      .burger-text {
          margin-left: 24px;
      }
  }
}

.burger-list path { 
  fill: currentcolor;
}

.burger-list:active{
  color: $color-primary;
}

.burger-list svg path{
  fill: currentcolor;
}

.burger-menu .burger-image {
  @extend %flex-end;
  width: 100%;
  padding: 32px 24px 96px 0;

  img {
    @include height-width(40px, 40px);
    border-radius: 50%;
  }
}

//activation bláa box á mobile burger og sidebar í desktop


.blue-select-feature { 
  @include height-width(56px, 4px);
  @include position-top-right(absolute, null, 0);
  border-radius: 5px 0px 0px 5px;
}

.blue {
  background-color: $color-primary;
}




//Hover og activation fítusar á closed nav


.side-list:active {
  color: $color-primary;
}
.side-list path { 
  fill: currentcolor;
}

.side-list svg path {
  fill: currentcolor;
}

.burger:hover, .home:hover,.logout-box:hover{
  color: $color-primary;
}
.list:hover {
  color: $color-lgtBlue;
}
.users:hover {
  color: $color-jello;
}
.folder:hover {
  color: $color-purple;

}
.bell:hover {
  color: $color-danger;

}
.settings:hover {
  color: $color-dark-bg;

}

///// @media-queries for height /////

  // Desktop side-nav

  @media (max-height: 600px) {
    div.wrapper-closedNav {
      nav.side-nav {
        padding: 0.8rem 0;

        div.nav-box {
          @include height-width(25rem, null);
        }
      }
    }
  }

  @media (max-height: 500px) {
    .wrapper-closedNav {
      .side-nav {
        .nav-box {
          @include height-width(21rem, null);
        }
      }
    }
  }
  .side-list {
    @extend %flex-center-center;
    position: relative;
    width: 100%;
  }

// Desktop side-nav-open

  @media (max-height: 600px) {
    div.wrapper-openNav {
      nav.side-nav-open {
        padding: 1.5rem;

        div.nav-box-open {
          @include height-width(25rem, null);
        }
      }
    }
  }

  @media (max-height: 500px) {
    div.wrapper-openNav {
      nav.side-nav-open {
        div.nav-box-open {
          @include height-width(21rem, null);
        }
      }
    }
  }

  


