// div.wrapper-nav2 {
//     @extend %flex-space-between;

//     div.wrapper-open-nav2 {
//         position: fixed;
//         right: -140px;
//         top: 0;
//         @include font-type-size(SanFranMed, 1rem);
//         @extend %flex-end;
//         color: $color-font;
    
//         svg {
//           margin: 0 0.8rem 0 0.25rem;
//         }
    

        
//         nav.side-nav-open2 {
//           background-color: $color-light;
//           @include height-width(100vh, 212px);
//           @extend %flex-space-between;
//           flex-direction: column;
//           padding: 1.5rem;
//           box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
//           transition: -webkit-transform- 3s ease-in-out;
//           transition: transform 3s ease-in-out;
  
//           // &:hover {
//           //   transform: ;
//           // }
          
    
    
//           div.nav-box-open2 {
//             @extend %flex-space-between;
//             @include height-width(30rem, null);
//             flex-direction: column;
    
//             .home,
//             .list,
//             .users,
//             .folder,
//             .bell,
//             .settings,
//             .logout-box {
//               @extend %flex-center;
//               span {
//                 padding: 0 0 0 17px;
//               }
//             }
    
//             div.user-close-nav2 {
//               @extend %flex-space-between;
//               align-items: center;
    
//               div.user-emoji2 {
//                 @include height-width(44px, 44px);
//                 @extend %user-div;
//               }
//             }
//           }
//           div.logout-box2 {
//             div.logout2 {
//               @extend %flex-center;
//             }
//           }
//         }
//       }
//     }
